{% extends 'base.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="article-body">
            <section class="shop-content section-pdg">
                <div class="before-shop-loop">
                    {% do action('woocommerce_before_shop_loop') %}
                </div>
                <div class="loop">
                    <div class="container">
                        <div class="row">
                            {% for post in products %}
                                <div class="col-lg-4 col-md-6">
                                    {% include ["partial/tease-product.twig"] %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
    </div>
{% endblock  %}