{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
    {% do action('woocommerce_before_single_product') %}
    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">
        <section class="section-pdg">
            <div class="container">
                <div class="row single-product__content justify-content-center">
                    <div class="col-lg-5 col-md-6 single-product-details__images">
                        <div class="single-product-details__images--content h-100">
                            {% do action('woocommerce_before_single_product_summary') %}
                            <img 
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="{{ post.thumbnail.src('shop_single') }}"
                                class="b-lazy "
                                alt="{{ post.title }}"
                            >
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 summary entry-summary">
                        <div class="summary-content h-100">
                            {% do action('woocommerce_single_product_summary') %}
                        </div>
                    </div>
                </div>
                {% if compatibilite %}
                    <div class="col-lg-10 mx-auto single-product__macarons">
                        <h4>Compatibilité du produit</h4>
                        <div class="macarons-wrapper">
                            {% for macaron in compatibilite %}
                                <img class="d-block img-fluid macaron" src="{{ Image(macaron.macaron).src }}" alt/>
                            {% endfor %}
                        </div>
                    </div>                        
                {% endif %}
                {% do action('woocommerce_after_single_product_summary') %}

                <meta itemprop="url" content="{{ post.link }}" />
            </div>
        </section>
    </article>
    {% do action('woocommerce_after_single_product') %}
</div>
{% endblock  %}