//---------------------------------------------------------------------------------------
// About
//---------------------------------------------------------------------------------------

.qualite {
    display: flex;
    align-items: center;

    .section-content {
        @media screen and (max-width: $md) {
            flex-direction: column;
        }
    }
}

.team {
    background: #F2A7A5;
    background: url("data:image/svg+xml,%3Csvg class='shape shape-top' viewBox='0 0 1440 257' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FBFBFB' d='M0 0h1441v256H0z'/%3E%3Cpath d='M0 256V105.611C38.054 77.68 78.75 54.318 122.786 36.654 271.433-22.97 447.518-9.144 585.083 72.961c41.924 24.978 80.782 56.128 126.5 73.488 39.75 15.111 84.418 17.538 122.012-3.711 31.055-17.574 51.562-26.958 88.71-29.991a769.374 769.374 0 0 1 229.662 16.45 441.12 441.12 0 0 1 9.104 2.087C1261.188 154.818 1355.79 193.04 1440 252v4c-129.854.337-1436.59 0-1440 0z' fill='%23F2A7A5' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat,#F2A7A5;
}

.team-member {
    padding: rem(20);
    &__head {
        height: rem(300);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: rem(18);
        h5 {
            font-family: $fabrikat_med;
        }
        img {
            margin: rem(20) 0;
        }
    }

    &__desc {
        padding: rem(20);
    }
}