//---------------------------------------------------------------------------------------
// Blog
//---------------------------------------------------------------------------------------

.blog-header {
    width: 100%;
    height: rem(515);
    border-radius: rem(10);
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(60) 0;
    @media screen and (max-width: $xs) {
        height: 30vh;
        margin: 3.75rem 0 1rem 0;
    }

    h3 {
        @media screen and (max-width: $xs) {
            font-size: 2rem;
            margin-bottom: 0;
        }
    }

    .button-default {
        @media screen and (max-width: $xs) {
            margin-top: rem(20);
        }
    }
}

.latest-post {
    &__title {
        font-family: $montserrat;
        font-size: rem(52);
        line-height: 1.3;
        color: $white;
        text-align: center;
        margin-bottom: rem(30)
    }
}

.posts-body {
    padding: rem(30) 0 rem(60) 0; 
}

//---------------------------------------------------------------------------------------
// Single
//---------------------------------------------------------------------------------------

.single-post {

    &__h1 {
        font-family: $montserrat!important;
        margin-bottom: rem(60)!important;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(16);
    }

    &__avatar {
        display: inline-block;
        width: rem(48);
        height: rem(48);
        overflow: hidden;
        border-radius: 50%;
        background-color: #eef1f3;
        vertical-align: middle;
        margin-right: 1rem;

        img {
            height: auto;
            width: 100%;
        }
    }

    &__header {
        margin-top: rem(30);
    }

    &__thumbnail {
        border-radius: rem(10);
        box-shadow: 0 76px 47px -56px rgba(44,53,69,0.12);
    }

    &__body {
        padding: rem(30) 0;

        h4 {
            font-family: $fabrikat;
            font-size: rem(24);
            color: $title;
            line-height: 32px;
            margin-bottom: rem(30)
        }

        p {
            @media screen and (max-width: $xs) {
                padding: 0;
            }
        }

        .wp-block-image {
            margin: rem(30) 0;
        }
    }
}

.related-section {
    @media screen and (max-width: $sm) {
        padding-top: rem(50);
    }
}

.related-stories {
    padding: rem(60) 0;

    .related-card {
        @media screen and (max-width: $sm) {
            margin-bottom: rem(20);
        }
    }
}

.post-tease {
    margin-bottom: rem(30);
}