//---------------------------------------------------------------------------------------
// Histoire
//---------------------------------------------------------------------------------------

.article-body { 
    padding-bottom: 0;
    
    &__headline {
        font-family: $montserrat_lgt;
        font-size: rem(36);
        line-height: rem(54);
        @media screen and (max-width: $sm) {
            font-size: 2.5vh;
            line-height: 1.2;
        }
        @media screen and (max-width: $xs) {
            font-size: 3.5vh;
            line-height: 1.2;
            text-align: center;
        }
        strong {
            font-family: $montserrat_bld;
        }
    }

    .story-img {
        @media screen and (max-width: $sm) {
            margin: rem(30) 0;
        }
    }

    &__intro {
        font-family: $montserrat_lgt;
        font-size: rem(28);
        line-height: rem(34);
        padding: 3.75rem 0;
        @media screen and (max-width: $sm) {
            padding: 1.5rem 0;
            font-size: rem(22);
        }
    }

    &__text {
        font-size: rem(18);
        line-height: rem(32);
        &--big {
            font-family: $montserrat_lgt;
            font-size: rem(36);
            line-height: rem(44);
            @media screen and (max-width: $sm) {
                font-size: rem(32);
                line-height: 1.2;
            }
            strong {
                font-family: $montserrat_bld;
            }
        }
    }

    &__subtitle {
        font-family: Fabrikat-Light;
        font-size: rem(20);
        line-height: rem(22);
        margin-top: rem(20);
    }

    .img-bottom {
        img {
            width: 100%
        }
    }
}