//---------------------------------------------------------------------------------------
// Homepage
//---------------------------------------------------------------------------------------

.header-top {
    width: 100%;
    max-height: rem(800);
    height: 100%;
    display: flex;
    @media screen and (max-width: $sm) {
        flex-direction: column;
        max-height: 100%;
    }
}

.split, .boxes {
    width: 50%;
    @media screen and (max-width: $md) {
        width: 100%;
    }
}

.header-top {
    &__img {
        img {
            width: auto;
            height: 100%;
            @media screen and (max-width: $sm) {
                width: 80%;
            }
        }
    }
    &__text {
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--content {
            max-width: 470px;
            width: 100%;
            h1 {
                font-size: rem(72);
                color: $primary;
                text-align: left;
                margin-bottom: 2rem;
                @media screen and (max-width: $xs) {
                    font-size: rem(62);
                }
            }
            h2 {
                line-height: rem(38);
            }
        }
    }
}

.section-content.kiddoz {
    @media screen and (max-width: $md) {
        flex-direction: column;
        padding: 0;
    }
}

.section-content {
    display: flex;
    @media screen and (max-width: $xs) {
        flex-direction: column;
    }
    .boxes {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $xs) {
            padding: 0 rem(20)
        }
    }

    .box__text {
        &--content {
            padding: 20px;
            @media screen and (max-width: $xs) {
                padding: 0;
            }
        }
    }

    .box__img {
        @media screen and (max-width: $xs) {
            padding: rem(20);
        }
        &--content {
            display: flex;
            flex-wrap: wrap;
            img {
                align-self: center;
                margin: 10px;
            }
        }
    }
}

.box-title {
    text-align: left!important;
    line-height: 58px;
}

.slider-video {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 326' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FBFBFB' d='M0 0h1440v325H0z'/%3E%3Cpath d='M720 260c234.595 0 474.595 21.741 720 65.223H0C245.405 281.74 485.405 260 720 260z' fill='%23F3EEF2' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat, linear-gradient(-180deg, #F3EEF2 60%, #FBFBFB 100%);
    background-size: 100%;
}

.temoignages {
    background-color: $light-orange;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.labels {
    img {
        margin: 1rem;
    }
}

.kiddo-life {
    padding-bottom: 5rem;
    @media screen and (max-width: $xs) {
        padding-bottom: 3rem;
    }
    .insta-gallery {
        padding: 2rem;
        @media screen and (max-width: $xs) {
            padding: 0;
        }
        img {
            margin-bottom: 1.5rem;
        }
    }
}

.news {
    min-height: 70vh;
    background-color: $purple;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        padding: rem(60) 0;
        @media screen and (max-width: $xs) {
            padding-bottom: rem(30);
        }
        .news-col {
            display: flex;
            justify-content: center;
            .card {
                @media screen and (max-width: $md) {
                    margin-bottom: rem(30);
                }
            }
        }
    }
}

.newsletter {
    h6 {
        font-family: $fabrikat;
        font-size: 18px;
        color: $text-color;
        line-height: 26px;
        margin-bottom: 1.3rem;
    }
}