//---------------------------------------------------------------------------------------
// La Kiddo'z
//---------------------------------------------------------------------------------------

.kiddoz-story {
    min-height: 100vh;
    padding: rem(257) 0;
    background-color: $darker-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    @media screen and (max-width: $md) {
        padding: 9rem 0;
    }
    @media screen and (max-width: $xs) {
        padding: 5rem 0;
    }

    .kiddoz-img {
        img {
            @media screen and (max-width: $xs) {
                width: 80%;
                margin: rem(30) auto;
            }
        }
    }

    h3.subtitle {
        font-size: rem(22);
        line-height: rem(24);
        margin: rem(60) 0;
    }

    &__content {
        padding: rem(60) 0;
    }

    &__brevet {
        .label-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $fabrikat_med;
            font-size: rem(18);
            line-height: rem(24);
            text-align: center;
            background: #FBE9E9;
            color: #D19F9F;
            box-shadow: 0 51px 40px -30px #ED9392;
            border-radius: rem(5);
            padding: rem(25);
            width: rem(325);
            height: rem(110);

            @media screen and (max-width: $md) {
                margin-top: rem(90);
            }

            @media screen and (max-width: $sm) {
                margin-top: rem(90);
                margin-right: rem(50);
            }

            @media screen and (max-width: $xs) {
               transform: scale(0.8);
               margin-top: rem(30);
            }

            p {
                margin-bottom: 0;
            }

            .icon-brevet {
                position: absolute;
                right: -40px;
                top: -60px;
            }
        }
    }
}

.kiddoz-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: rem(18);
        line-height: rem(24);
        div {
            height: rem(130);
            padding: rem(20);
            width: 100%;
            margin-bottom: rem(40);
            @media screen and (max-width: $xs) {
                height: auto;
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: rem(0);
                @media screen and (max-width: $xs) {
                    margin-bottom: rem(20);
                }
            }
        }
    }
}

.kiddoz-use {
    .img-kiddoz-use {
        max-height: rem(250);
        height: 100%;
        padding: rem(20);
        margin-bottom: rem(30);

        &__caption {
            text-align: left;
            max-width: rem(250);
            h5 {
                font-family: $fabrikat;
                margin-bottom: rem(20);
            }
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}