//---------------------------------------------------------------------------------------
// Shop
//---------------------------------------------------------------------------------------

.before-shop-loop {
    .woocommerce-ordering {
        @media screen and (max-width: $xs) {
            width: 100%;
        } 
    }
}

.loop {
    .row {
        @media screen and (max-width: $xs) {
            width: 100%;
        } 
    }
}

.shop-content {
    .before-shop-loop {
        height: rem(70);
        padding: 0 10vw;
    }
}

.media.product-teasing {
    margin-bottom: rem(50);
    padding: rem(20);
    border: 1px solid $purple;
    transition: .5s;

    h3 {
        font-family: $montserrat_lgt;
    }

    .price {
        display: block;
        margin: rem(10) 0 rem(20) 0;
        font-size: rem(20);
        color: $primary;
        font-weight: bold;
    }

    &:hover {
        background-color: rgba($pink, .15);
    }
}