//---------------------------------------------------------------------------------------
// Vente
//---------------------------------------------------------------------------------------

.acf-map {
    width: 100%;
    height: rem(500);
}

.partners {

    h2 {
        @media screen and (max-width: $sm) {
            margin-top: rem(30);
            margin-bottom: 0;
        }
    }

    .partners-wrapper {
        padding: rem(60) 0;
    }

    .partners-bloc {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: rem(18);
            font-family: $fabrikat;
            margin-bottom: rem(30);
        }

        img {
            height: rem(24);
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            opacity: .3;
            transition: opacity .2s ease-in;

            &:hover {
                filter: grayscale(0%);
                opacity: 1;
            }
        }

        &__list {
            margin-bottom: rem(30);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li {
                line-height: 4;
                a {
                    padding: rem(6) rem(8);
                }
            }
        }
    }
}