@charset "UTF-8";
/*
 * Theme Name: My Timber Starter Theme
 * Description: Starter Theme to use with Timber
 * Author: Upstatement and YOU!
*/
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * 
 * Partials
 * 
*/
/* line 58, sass/_partials/_mixins.scss */
::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(66, 72, 83, 0.3);
  font-size: 0.875rem;
}

/* line 59, sass/_partials/_mixins.scss */
:-moz-placeholder {
  font-style: italic;
  color: rgba(66, 72, 83, 0.3);
  font-size: 0.875rem;
}

/* line 60, sass/_partials/_mixins.scss */
::-moz-placeholder {
  font-style: italic;
  color: rgba(66, 72, 83, 0.3);
  font-size: 0.875rem;
}

/* line 61, sass/_partials/_mixins.scss */
:-ms-input-placeholder {
  font-style: italic;
  color: rgba(66, 72, 83, 0.3);
  font-size: 0.875rem;
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/montserrat-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light"), local("Montserrat-Light"), url("fonts/montserrat-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v13-latin-300.woff2") format("woff2"), url("fonts/montserrat-v13-latin-300.woff") format("woff"), url("fonts/montserrat-v13-latin-300.ttf") format("truetype"), url("fonts/montserrat-v13-latin-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("fonts/montserrat-v13-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("fonts/montserrat-v13-latin-300italic.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v13-latin-300italic.woff2") format("woff2"), url("fonts/montserrat-v13-latin-300italic.woff") format("woff"), url("fonts/montserrat-v13-latin-300italic.ttf") format("truetype"), url("fonts/montserrat-v13-latin-300italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("fonts/montserrat-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v13-latin-regular.woff2") format("woff2"), url("fonts/montserrat-v13-latin-regular.woff") format("woff"), url("fonts/montserrat-v13-latin-regular.ttf") format("truetype"), url("fonts/montserrat-v13-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat Italic';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/montserrat-v13-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("fonts/montserrat-v13-latin-italic.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v13-latin-italic.woff2") format("woff2"), url("fonts/montserrat-v13-latin-italic.woff") format("woff"), url("fonts/montserrat-v13-latin-italic.ttf") format("truetype"), url("fonts/montserrat-v13-latin-italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/montserrat-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("fonts/montserrat-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v13-latin-700.woff2") format("woff2"), url("fonts/montserrat-v13-latin-700.woff") format("woff"), url("fonts/montserrat-v13-latin-700.ttf") format("truetype"), url("fonts/montserrat-v13-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url("fonts/montserrat-v13-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("fonts/montserrat-v13-latin-700italic.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v13-latin-700italic.woff2") format("woff2"), url("fonts/montserrat-v13-latin-700italic.woff") format("woff"), url("fonts/montserrat-v13-latin-700italic.ttf") format("truetype"), url("fonts/montserrat-v13-latin-700italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* Fabrikat Light */
@font-face {
  font-family: 'Fabrikat Light';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Fabrikat-Light.eot");
  /* IE9 Compat Modes */
  src: local("Fabrikat Light"), local("Fabrikat-Light"), url("fonts/Fabrikat-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Fabrikat-Light.woff2") format("woff2"), url("fonts/Fabrikat-Light.woff") format("woff");
}
/* Fabrikat Regular */
@font-face {
  font-family: 'Fabrikat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Fabrikat-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Fabrikat Regular"), local("Fabrikat-Regular"), url("fonts/Fabrikat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Fabrikat-Regular.woff2") format("woff2"), url("fonts/Fabrikat-Regular.woff") format("woff");
}
/* Fabrikat Medium */
@font-face {
  font-family: 'Fabrikat Medium';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Fabrikat-Medium.eot");
  /* IE9 Compat Modes */
  src: local("Fabrikat Medium"), local("Fabrikat-Medium"), url("fonts/Fabrikat-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Fabrikat-Medium.woff2") format("woff2"), url("fonts/Fabrikat-Medium.woff") format("woff");
}
/* Fabrikat Bold */
@font-face {
  font-family: 'Fabrikat Bold';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Fabrikat-Bold.eot");
  /* IE9 Compat Modes */
  src: local("Fabrikat Bold"), local("Fabrikat-Bold"), url("fonts/Fabrikat-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Fabrikat-Bold.woff2") format("woff2"), url("fonts/Fabrikat-Bold.woff") format("woff");
}
/*
 * 
 * Components
 * 
*/
/* line 5, sass/_components/_buttons.scss */
.button-default, .button-card, .btn-submit {
  padding: 1rem 2.8125rem;
  background: #F2B1AF;
  background-image: linear-gradient(to right, #83a8d8 0%, #d690be 51%, #d690be 100%);
  font-family: "Fabrikat Medium", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 11px 36px 0 rgba(130, 136, 171, 0.3);
  border-radius: 50px;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: inline-block;
}

/* line 21, sass/_components/_buttons.scss */
.button-default {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  /* line 21, sass/_components/_buttons.scss */
  .button-default {
    line-height: 1.4;
    font-size: 0.75rem;
    padding: 1rem 2rem;
  }
}
/* line 30, sass/_components/_buttons.scss */
.button-default:hover {
  background-position: right center;
  color: white;
}

/* line 36, sass/_components/_buttons.scss */
.button-default.disabled {
  background-image: linear-gradient(to right, #cccccc 0%, #cccccc 51%, #cccccc 100%);
}

/* line 40, sass/_components/_buttons.scss */
.button-card {
  text-align: center;
  font-size: 10px;
  padding: 0.5rem 1.875rem;
}
/* line 45, sass/_components/_buttons.scss */
.button-card:hover {
  background-position: right center;
  color: white;
}

/* line 51, sass/_components/_buttons.scss */
.play {
  position: absolute;
  left: 46%;
  top: 44%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.5, -0.01, 0, 1.005);
  z-index: 2;
  box-shadow: 0 27px 20px 0 rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 576px) {
  /* line 51, sass/_components/_buttons.scss */
  .play {
    left: 41%;
    top: 39%;
    width: 4.375rem;
    height: 4.375rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 51, sass/_components/_buttons.scss */
  .play {
    left: 43%;
    top: 40%;
  }
}
/* line 74, sass/_components/_buttons.scss */
.play:hover {
  transform: scale(1.1);
}

/* line 79, sass/_components/_buttons.scss */
.close {
  font-size: 3rem;
}

/* line 83, sass/_components/_buttons.scss */
.product_type_simple.add_to_cart_button,
.product_type_variable.add_to_cart_button {
  background-image: linear-gradient(to right, #d690be 0%, #f2b1af 51%, #f2b1af 100%) !important;
  border-radius: 50px !important;
  transition: 0.5s;
  background-size: 200% auto !important;
  color: white !important;
  font-size: 12px !important;
  padding: 1rem 2.8125rem !important;
  text-transform: uppercase !important;
  box-shadow: 0 11px 36px 0 rgba(130, 136, 171, 0.3) !important;
}
/* line 94, sass/_components/_buttons.scss */
.product_type_simple.add_to_cart_button:hover,
.product_type_variable.add_to_cart_button:hover {
  background-position: right center !important;
  color: white !important;
}

/* line 100, sass/_components/_buttons.scss */
.btn-submit {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  /* line 100, sass/_components/_buttons.scss */
  .btn-submit {
    line-height: 1.4;
    font-size: 0.75rem;
    padding: 1rem 2rem;
  }
}
/* line 109, sass/_components/_buttons.scss */
.btn-submit:hover {
  background-position: right center;
  color: white;
}

/* line 1, sass/_components/_carousel.scss */
.slider {
  z-index: 3;
}

/* line 5, sass/_components/_carousel.scss */
.slider-control-prev-icon, .slider-control-next-icon {
  display: none;
}

/* line 9, sass/_components/_carousel.scss */
.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* line 15, sass/_components/_carousel.scss */
.video-control-next-icon,
.video-control-prev-icon {
  width: 40px;
  height: 40px;
}

/* line 21, sass/_components/_carousel.scss */
.video-control-next-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Home' transform='translate(-1238.000000, -6135.000000)'%3E%3Cg id='Gage-de-qualité' transform='translate(0.000000, 5902.000000)'%3E%3Cg id='Group-26' transform='translate(1237.000000, 232.000000)'%3E%3Cg id='chevron-right' transform='translate(0.600000, 0.800000)'%3E%3Ccircle id='Oval-7' fill='%23F2B1AF' fill-rule='nonzero' opacity='0.925502232' cx='24.4' cy='24.2' r='24'%3E%3C/circle%3E%3Cpolyline id='Shape' stroke='%23FFFFFF' stroke-width='2.4000001' stroke-linecap='round' stroke-linejoin='round' points='22 31.4 29.2 24.2 22 17'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* line 25, sass/_components/_carousel.scss */
.video-control-prev-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Home' transform='translate(-153.000000, -6137.000000)'%3E%3Cg id='Gage-de-qualité' transform='translate(0.000000, 5902.000000)'%3E%3Cg id='Group-26' transform='translate(152.000000, 234.000000)'%3E%3Cg id='chevron-right' transform='translate(0.200000, 0.800000)'%3E%3Ccircle id='Oval-7' fill='%23F2B1AF' fill-rule='nonzero' opacity='0.925502232' cx='24.8' cy='24.2' r='24'%3E%3C/circle%3E%3Cpolyline id='Shape' stroke='%23FFFFFF' stroke-width='2.4000001' stroke-linecap='round' stroke-linejoin='round' transform='translate(23.600000, 24.200000) rotate(-180.000000) translate(-23.600000, -24.200000) ' points='20 31.4 27.2 24.2 20 17'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* line 29, sass/_components/_carousel.scss */
.video-indicators li {
  background-color: #F2B1AF;
}

/* line 33, sass/_components/_carousel.scss */
.item {
  width: 100%;
  height: 43.75rem;
}
@media screen and (max-width: 768px) {
  /* line 33, sass/_components/_carousel.scss */
  .item {
    height: 31.25rem;
  }
}

/* line 41, sass/_components/_carousel.scss */
.item-wrapper {
  padding: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

/* line 48, sass/_components/_carousel.scss */
.item-thumbnail {
  width: 55.625rem;
  height: 31.875rem;
  border-radius: 10px;
  box-shadow: 0 51px 40px -30px rgba(53, 53, 53, 0.13);
  position: relative;
}
@media screen and (max-width: 576px) {
  /* line 48, sass/_components/_carousel.scss */
  .item-thumbnail {
    height: 12.5rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 48, sass/_components/_carousel.scss */
  .item-thumbnail {
    height: 22.5rem;
  }
}

/* line 62, sass/_components/_carousel.scss */
.item-temoignages {
  width: 70vh;
  height: 40vh;
  padding: 3rem;
  background: white;
  box-shadow: 0 7px 25px 0 rgba(53, 53, 53, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
/* line 74, sass/_components/_carousel.scss */
.item-temoignages h5 {
  font-family: "Fabrikat Light", "Arial", sans-serif;
  font-size: 32px;
  color: #999999;
  line-height: 42px;
}
/* line 81, sass/_components/_carousel.scss */
.item-temoignages span {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  color: #F2B1AF;
}

/* line 88, sass/_components/_carousel.scss */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  text-align: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 88, sass/_components/_carousel.scss */
  .carousel-caption {
    top: 40%;
    transform: translateY(-40%);
  }
}
/* line 100, sass/_components/_carousel.scss */
.carousel-caption h5 {
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 100, sass/_components/_carousel.scss */
  .carousel-caption h5 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
/* line 108, sass/_components/_carousel.scss */
.carousel-caption h5 strong {
  font-family: "Fabrikat Bold", "Arial", sans-serif;
}

/* line 115, sass/_components/_carousel.scss */
#carouselPosts .carousel-indicators {
  bottom: 20px;
}
@media screen and (max-width: 576px) {
  /* line 119, sass/_components/_carousel.scss */
  #carouselPosts .carousel-item {
    height: 15.625rem;
  }
}

/* line 5, sass/_components/_cards.scss */
.card-kiddo {
  border: none;
  box-shadow: 0 6px 10px 0 rgba(53, 53, 53, 0.05);
  border-radius: .6rem;
}
/* line 10, sass/_components/_cards.scss */
.card-kiddo h5 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #353535;
}

/* line 18, sass/_components/_cards.scss */
.card-post {
  min-height: 23.75rem;
  margin: auto;
}
/* line 22, sass/_components/_cards.scss */
.card-post img {
  width: 100%;
  height: 13vh;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  /* line 28, sass/_components/_cards.scss */
  .card-post .card-body p {
    padding: 0;
  }
}
/* line 34, sass/_components/_cards.scss */
.card-post__permalink {
  color: #F2B1AF;
  font-size: 0.875rem;
}
/* line 37, sass/_components/_cards.scss */
.card-post__permalink:hover {
  color: #353535;
}
/* line 42, sass/_components/_cards.scss */
.card-post__permalink.light {
  color: #F2B1AF;
}
/* line 44, sass/_components/_cards.scss */
.card-post__permalink.light:hover {
  color: #353535;
}
/* line 49, sass/_components/_cards.scss */
.card-post__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 56, sass/_components/_cards.scss */
.card-footer {
  border: none;
}

/* line 6, sass/_components/_forms.scss */
.form-newsletter .input-group {
  position: relative;
}
/* line 10, sass/_components/_forms.scss */
.form-newsletter .input-group-append {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 10;
}
/* line 17, sass/_components/_forms.scss */
.form-newsletter input {
  border-radius: 33px;
  padding: 2rem 2.7rem;
  border: none;
  border-top-right-radius: 33px !important;
  border-bottom-right-radius: 33px !important;
}
@media screen and (max-width: 576px) {
  /* line 17, sass/_components/_forms.scss */
  .form-newsletter input {
    padding: 1.7rem;
  }
}
/* line 26, sass/_components/_forms.scss */
.form-newsletter input:focus {
  box-shadow: 0 11px 36px 0 rgba(53, 53, 53, 0.1);
}
/* line 31, sass/_components/_forms.scss */
.form-newsletter button {
  background-image: linear-gradient(to right, #83a8d8 0%, #d690be 51%, #d690be 100%);
  background-size: 200% auto;
  border-top-left-radius: 33px !important;
  border-bottom-left-radius: 33px !important;
  border-radius: 33px;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  border: none;
  font-family: "Fabrikat Medium", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  transition: 0.5s;
}
@media screen and (max-width: 576px) {
  /* line 31, sass/_components/_forms.scss */
  .form-newsletter button {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-size: 12px;
  }
}
/* line 50, sass/_components/_forms.scss */
.form-newsletter button:hover {
  background-position: right center;
  color: white;
}

/* line 59, sass/_components/_forms.scss */
.contact-form__form .form-group {
  margin-bottom: 2rem;
}
/* line 62, sass/_components/_forms.scss */
.contact-form__form .form-group label, .contact-form__form .form-group small {
  font-size: 0.75rem;
}
/* line 67, sass/_components/_forms.scss */
.contact-form__form textarea {
  resize: none;
}

/* line 73, sass/_components/_forms.scss */
.form-control-contact {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(53, 53, 53, 0.3);
  border-radius: 0;
  transition: border .3s linear;
}
/* line 80, sass/_components/_forms.scss */
.form-control-contact:focus {
  border-bottom: 2px solid #F2B1AF;
  background-color: transparent;
}

/* line 5, sass/_components/_pagination.scss */
.pagination {
  margin: 1.875rem;
}
/* line 9, sass/_components/_pagination.scss */
.pagination .page-blog__item {
  margin: 0 0.1875rem;
}
/* line 14, sass/_components/_pagination.scss */
.pagination .page-blog__item.disabled .page-blog__link {
  background-color: #FBFBFB;
  border: none;
  color: #CCC;
}
/* line 22, sass/_components/_pagination.scss */
.pagination .page-blog__item.active .page-blog__link {
  background-color: #F2B1AF;
  border: none;
  border-radius: 100%;
}
/* line 26, sass/_components/_pagination.scss */
.pagination .page-blog__item.active .page-blog__link:hover {
  background-color: #F2A7A5;
  border: none;
}
/* line 33, sass/_components/_pagination.scss */
.pagination .page-blog__link {
  border: none;
  background-color: #FBFBFB;
  color: #F2B1AF;
}
/* line 37, sass/_components/_pagination.scss */
.pagination .page-blog__link:hover {
  color: white;
  border: none;
  background-color: #F2A7A5;
  border-radius: 100%;
}

/**
 * Instagram
 */
/* line 9, sass/_components/_widgets.scss */
.wdi_feed_thumbnail_1 .wdi_feed_container {
  background-color: transparent !important;
  border-bottom: none !important;
}

/* line 14, sass/_components/_widgets.scss */
.wdi_feed_theme_1 .wdi_feed_wrapper,
.wdi_feed_thumbnail_1 .wdi_load_more, .wdi_feed_thumbnail_1 .wdi_spinner {
  background-color: transparent !important;
}

/* line 19, sass/_components/_widgets.scss */
.wdi_feed_thumbnail_1 .wdi_load_more_wrap, .wdi_feed_thumbnail_1 .wdi_spinner_wrap {
  background-color: transparent !important;
  border: 1px solid #F2B1AF !important;
}
@media screen and (max-width: 576px) {
  /* line 19, sass/_components/_widgets.scss */
  .wdi_feed_thumbnail_1 .wdi_load_more_wrap, .wdi_feed_thumbnail_1 .wdi_spinner_wrap {
    width: 4.375rem !important;
    height: 4.375rem !important;
  }
}

/* line 28, sass/_components/_widgets.scss */
.wdi_feed_theme_1 .wdi_load_more_text {
  color: #F2B1AF !important;
}

/* line 32, sass/_components/_widgets.scss */
.wdi_feed_thumbnail_1 .wdi_photo_wrap_inner {
  border: 5px solid #FBFBFB !important;
  background-color: #FBFBFB !important;
}

/**
 * Facebook
 */
/* line 41, sass/_components/_widgets.scss */
#facebook ._1drm._1b90, #facebook ._1drm._1ds4 {
  border: none !important;
}
/* line 45, sass/_components/_widgets.scss */
#facebook ._2lqg {
  background: transparent !important;
  border: none !important;
}

/* line 5, sass/_components/_modal.scss */
.modal-full {
  min-width: 100%;
  margin: 0;
}
/* line 8, sass/_components/_modal.scss */
.modal-full .modal-content {
  background-color: #F7F1F1;
  min-height: 100vh;
  border-radius: 0;
  border: none;
}
/* line 13, sass/_components/_modal.scss */
.modal-full .modal-content .modal-header {
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 18, sass/_components/_modal.scss */
.modal-full .modal-content .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 22, sass/_components/_modal.scss */
.modal-full .modal-content .modal-body .embed-responsive {
  width: 90vh;
}

/* line 5, sass/_components/_woocommerce.scss */
.woocommerce input,
.woocommerce .input-text {
  border: 1px solid transparent;
  transition: .2s;
}
/* line 9, sass/_components/_woocommerce.scss */
.woocommerce input:focus,
.woocommerce .input-text:focus {
  border: 1px solid #F2B1AF !important;
}

/* line 14, sass/_components/_woocommerce.scss */
.select2-dropdown {
  border: 1px solid #F2EFF4 !important;
}

/* line 18, sass/_components/_woocommerce.scss */
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #F2EFF4 !important;
}

/**
 * Notices
 */
/* line 26, sass/_components/_woocommerce.scss */
.woocommerce-notices-wrapper {
  margin-top: 4.375rem;
}
/* line 29, sass/_components/_woocommerce.scss */
.woocommerce-notices-wrapper .woocommerce-message {
  border-top-color: #F2B1AF;
}
/* line 31, sass/_components/_woocommerce.scss */
.woocommerce-notices-wrapper .woocommerce-message::before {
  color: #F2B1AF;
}

/* line 37, sass/_components/_woocommerce.scss */
.woocommerce-info {
  border-top-color: #F2B1AF !important;
}
/* line 39, sass/_components/_woocommerce.scss */
.woocommerce-info::before {
  color: #F2B1AF !important;
}

/**
 *  Single Product
 */
/* line 48, sass/_components/_woocommerce.scss */
.woocommerce-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 53, sass/_components/_woocommerce.scss */
.woocommerce-tabs ul {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: #f8f9fa;
  margin-top: 1.25rem;
}
/* line 61, sass/_components/_woocommerce.scss */
.woocommerce-tabs ul li {
  margin: 0 0.625rem;
}

/* line 68, sass/_components/_woocommerce.scss */
.single-product__content {
  padding: 1.875rem 0;
}
@media screen and (max-width: 576px) {
  /* line 72, sass/_components/_woocommerce.scss */
  .single-product__content .single-product-details__images {
    margin-bottom: 1.25rem;
  }
}
/* line 76, sass/_components/_woocommerce.scss */
.single-product__content .single-product-details__images--content {
  padding: 1.25rem;
  border: 1px solid #F2EFF4;
}
/* line 83, sass/_components/_woocommerce.scss */
.single-product__content .summary-content {
  padding: 1.25rem 2.5rem;
  border: 1px solid #F2EFF4;
}
/* line 88, sass/_components/_woocommerce.scss */
.single-product__content .product_title {
  text-align: left;
  font-size: 2.5rem;
  padding: 1.25rem 0;
  line-height: 1.2;
}
/* line 95, sass/_components/_woocommerce.scss */
.single-product__content .price {
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* line 101, sass/_components/_woocommerce.scss */
.single-product__content .quantity .qty {
  width: 100% !important;
  margin-bottom: .5rem;
  padding: .3rem;
}
/* line 109, sass/_components/_woocommerce.scss */
.single-product__content form.cart button {
  width: 100% !important;
  margin-bottom: .5rem;
  background-color: #F2B1AF !important;
  padding: .9rem;
  transition: .2s;
}
/* line 115, sass/_components/_woocommerce.scss */
.single-product__content form.cart button:hover {
  background-color: #E5D5E1 !important;
}
/* line 121, sass/_components/_woocommerce.scss */
.single-product__content .product_meta {
  margin: .5rem 0;
}
@media screen and (max-width: 576px) {
  /* line 126, sass/_components/_woocommerce.scss */
  .single-product__content .variations tr {
    display: flex;
    flex-direction: column;
  }
}
/* line 132, sass/_components/_woocommerce.scss */
.single-product__content .variations .label {
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}
/* line 137, sass/_components/_woocommerce.scss */
.single-product__content .variations .value {
  padding-bottom: 1.25rem;
}
/* line 139, sass/_components/_woocommerce.scss */
.single-product__content .variations .value select {
  margin-right: 1.25rem;
}
/* line 146, sass/_components/_woocommerce.scss */
.single-product__macarons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F5F5;
  padding: 1.25rem;
}
/* line 152, sass/_components/_woocommerce.scss */
.single-product__macarons .macarons-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* line 155, sass/_components/_woocommerce.scss */
.single-product__macarons .macarons-wrapper .macaron {
  width: 5rem;
  margin: 0.625rem;
}

/* line 163, sass/_components/_woocommerce.scss */
.woocommerce-tabs {
  margin-bottom: 3.125rem;
}
/* line 166, sass/_components/_woocommerce.scss */
.woocommerce-tabs .tabs {
  margin-bottom: 1.875rem;
}
/* line 170, sass/_components/_woocommerce.scss */
.woocommerce-tabs h2 {
  display: none;
}
/* line 175, sass/_components/_woocommerce.scss */
.woocommerce-tabs .woocommerce-Tabs-panel--description p {
  width: 80%;
  margin: auto;
}

/* line 182, sass/_components/_woocommerce.scss */
.related.products {
  padding: 1.875rem;
  margin-top: 1.875rem;
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
}
/* line 188, sass/_components/_woocommerce.scss */
.related.products h2 {
  font-size: 1.5em;
}
/* line 192, sass/_components/_woocommerce.scss */
.related.products .products {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  /* line 192, sass/_components/_woocommerce.scss */
  .related.products .products {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  /* line 199, sass/_components/_woocommerce.scss */
  .related.products .products .product {
    width: 100% !important;
  }
}

/**
 *  Cart
 */
/* line 213, sass/_components/_woocommerce.scss */
.woocommerce-cart-form .quantity .qty {
  padding: .3rem;
}

/* line 220, sass/_components/_woocommerce.scss */
.wc-proceed-to-checkout .checkout-button {
  background-color: #F2B1AF !important;
  transition: .2s;
}
/* line 223, sass/_components/_woocommerce.scss */
.wc-proceed-to-checkout .checkout-button:hover {
  background-color: #E5D5E1 !important;
}

/* line 229, sass/_components/_woocommerce.scss */
.woocommerce table.shop_table {
  border: 1px solid #F2EFF4 !important;
}

/* line 233, sass/_components/_woocommerce.scss */
.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
  border-top: 1px solid #F2EFF4 !important;
}

/* line 238, sass/_components/_woocommerce.scss */
.woocommerce a.remove:hover {
  background: #F2B1AF !important;
}

/**
 *  Checkout
 */
/* line 247, sass/_components/_woocommerce.scss */
.woocommerce form .form-row {
  width: 100%;
}
/* line 250, sass/_components/_woocommerce.scss */
.woocommerce form .form-row .select2-container--default .select2-selection--single {
  border: 1px solid #F2EFF4;
}
/* line 254, sass/_components/_woocommerce.scss */
.woocommerce form .form-row input,
.woocommerce form .form-row .input-text {
  border: 1px solid #F2EFF4;
  padding: .5rem;
}
/* line 260, sass/_components/_woocommerce.scss */
.woocommerce form .form-row label {
  display: block;
  width: 100%;
}
/* line 265, sass/_components/_woocommerce.scss */
.woocommerce form .form-row .woocommerce-input-wrapper {
  width: 100%;
}

/* line 271, sass/_components/_woocommerce.scss */
.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
  padding: 20px;
  border: 1px solid #F2EFF4;
  margin-bottom: 1.25rem;
}

/* line 281, sass/_components/_woocommerce.scss */
.woocommerce-checkout h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* line 289, sass/_components/_woocommerce.scss */
#customer_details .col-1, #customer_details .col-2 {
  max-width: 100%;
}

/* line 294, sass/_components/_woocommerce.scss */
#order_review_heading {
  text-align: center;
  padding: 1.25rem;
}

/* line 299, sass/_components/_woocommerce.scss */
.woocommerce-checkout-payment {
  background: #FBFBFB !important;
  border: 1px solid #F2EFF4;
}

/* line 304, sass/_components/_woocommerce.scss */
.payment_box.payment_method_stripe {
  background-color: rgba(242, 239, 244, 0.5) !important;
}
/* line 306, sass/_components/_woocommerce.scss */
.payment_box.payment_method_stripe:before {
  border: none !important;
}

/* line 311, sass/_components/_woocommerce.scss */
.woocommerce-checkout #payment ul.payment_methods .stripe-card-group,
.wc-stripe-elements-field {
  width: 100%;
}

/* line 316, sass/_components/_woocommerce.scss */
.woocommerce-checkout #payment ul.payment_methods {
  border-bottom: 1px solid #F2EFF4 !important;
}

/* line 320, sass/_components/_woocommerce.scss */
.wc-stripe-elements-field {
  border: 1px solid #FBFBFB !important;
}

/**
 *  My Account
 */
@media screen and (max-width: 768px) {
  /* line 328, sass/_components/_woocommerce.scss */
  .woocommerce-MyAccount-navigation {
    margin-top: 1.875rem !important;
  }
}

/* line 335, sass/_components/_woocommerce.scss */
#customer_login .col-1, #customer_login .col-2 {
  max-width: 100%;
}

/* line 340, sass/_components/_woocommerce.scss */
.woocommerce-form-login,
.woocommerce-form-register {
  border: 1px solid #F2EFF4 !important;
}

/* line 346, sass/_components/_woocommerce.scss */
.woocommerce-MyAccount-navigation ul {
  padding: 1.875rem;
  background-color: white;
  border-radius: 0.625rem;
}
/* line 351, sass/_components/_woocommerce.scss */
.woocommerce-MyAccount-navigation ul li {
  line-height: 3;
}
/* line 353, sass/_components/_woocommerce.scss */
.woocommerce-MyAccount-navigation ul li:not(:last-child) {
  border-bottom: 1px solid #FBFBFB;
}

/* line 360, sass/_components/_woocommerce.scss */
.woocommerce-MyAccount-content {
  padding: 1.875rem;
}
/* line 363, sass/_components/_woocommerce.scss */
.woocommerce-MyAccount-content a {
  font-family: "Fabrikat", "Arial", sans-serif;
  color: #353535;
}
/* line 368, sass/_components/_woocommerce.scss */
.woocommerce-MyAccount-content mark {
  background-color: #F2B1AF;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.625rem;
}

/* line 376, sass/_components/_woocommerce.scss */
.woocommerce-orders-table__cell-order-actions .woocommerce-button:not(:last-child) {
  margin-right: 0.625rem;
}

/* line 381, sass/_components/_woocommerce.scss */
.woocommerce-Address {
  border: 1px solid #F2EFF4;
  padding: 20px;
  max-width: 100%;
}
/* line 386, sass/_components/_woocommerce.scss */
.woocommerce-Address h3 {
  font-family: "Fabrikat", "Arial", sans-serif;
}

/* line 392, sass/_components/_woocommerce.scss */
.woocommerce-columns--addresses .woocommerce-column--billing-address,
.woocommerce-columns--addresses .woocommerce-column--shipping-address {
  max-width: 100%;
}
/* line 396, sass/_components/_woocommerce.scss */
.woocommerce-columns--addresses .woocommerce-column--billing-address h2,
.woocommerce-columns--addresses .woocommerce-column--shipping-address h2 {
  font-size: 1.5em;
  text-align: left;
}
/* line 401, sass/_components/_woocommerce.scss */
.woocommerce-columns--addresses .woocommerce-column--billing-address address,
.woocommerce-columns--addresses .woocommerce-column--shipping-address address {
  padding: 1.25rem !important;
  background: #F2EFF4;
  min-height: 9.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none !important;
}
@media screen and (max-width: 768px) {
  /* line 401, sass/_components/_woocommerce.scss */
  .woocommerce-columns--addresses .woocommerce-column--billing-address address,
  .woocommerce-columns--addresses .woocommerce-column--shipping-address address {
    margin-bottom: 1.875rem !important;
  }
}

/**s
 *  Thank you
 */
/* line 420, sass/_components/_woocommerce.scss */
.woocommerce-thankyou-order-received {
  text-align: center;
  margin-bottom: 1.875rem;
}

/* line 424, sass/_components/_woocommerce.scss */
.woocommerce ul.order_details {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #F2EFF4;
  padding: 1.25rem;
}
@media screen and (max-width: 576px) {
  /* line 424, sass/_components/_woocommerce.scss */
  .woocommerce ul.order_details {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  /* line 432, sass/_components/_woocommerce.scss */
  .woocommerce ul.order_details li {
    line-height: 2 !important;
    border-right: none !important;
  }
}

/*
 * 
 * Layout
 * 
*/
/* line 5, sass/_layout/_base.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, sass/_layout/_base.scss */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, sass/_layout/_base.scss */
html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* line 18, sass/_layout/_base.scss */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 23, sass/_layout/_base.scss */
.site .content-wrapper {
  flex: 1;
}

/* line 28, sass/_layout/_base.scss */
body {
  font-family: "Fabrikat Light", "Arial", sans-serif;
  color: #424853;
  background: #FBFBFB;
  font-size: 16px;
  line-height: 28px;
}
/* line 35, sass/_layout/_base.scss */
body strong {
  font-family: "Fabrikat Medium", "Arial", sans-serif;
}
/* line 39, sass/_layout/_base.scss */
body em {
  font-style: italic;
}
/* line 43, sass/_layout/_base.scss */
body h1 {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  color: #353535;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  /* line 43, sass/_layout/_base.scss */
  body h1 {
    padding: 0 1.25rem;
  }
}
/* line 53, sass/_layout/_base.scss */
body h1.article-h1 {
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 3.375rem;
  color: #353535;
  text-align: center;
  line-height: 45px;
  margin: 7.5rem 0 3rem 0;
}
@media screen and (max-width: 576px) {
  /* line 53, sass/_layout/_base.scss */
  body h1.article-h1 {
    font-size: 11vw;
  }
}
@media screen and (max-width: 768px) {
  /* line 53, sass/_layout/_base.scss */
  body h1.article-h1 {
    margin: 7.5rem 0 0 0;
  }
}
/* line 67, sass/_layout/_base.scss */
body h1.article-h1 strong {
  font-family: "Montserrat Bold", "Arial", sans-serif;
}
/* line 72, sass/_layout/_base.scss */
body .section-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat Light", "Arial", sans-serif;
  margin: 30px 0;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 576px) {
  /* line 72, sass/_layout/_base.scss */
  body .section-title {
    line-height: 1.2;
  }
}
/* line 82, sass/_layout/_base.scss */
body .section-title strong {
  font-family: "Montserrat Bold", "Arial", sans-serif;
}
/* line 87, sass/_layout/_base.scss */
body h2 {
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 2.375rem;
  line-height: 2.8125rem;
  color: #353535;
  margin-bottom: 1.875rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 87, sass/_layout/_base.scss */
  body h2 {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}
@media screen and (max-width: 576px) {
  /* line 87, sass/_layout/_base.scss */
  body h2 {
    font-size: 7vw;
    line-height: 1.2;
  }
}
/* line 103, sass/_layout/_base.scss */
body h2 strong {
  font-family: "Montserrat Bold", "Arial", sans-serif;
}
/* line 108, sass/_layout/_base.scss */
body .article-h2__left {
  text-align: left;
  margin-bottom: 3.125rem;
}
/* line 113, sass/_layout/_base.scss */
body .article-h2 {
  margin-bottom: 3.125rem;
  line-height: 1.2;
}
/* line 118, sass/_layout/_base.scss */
body p {
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  /* line 118, sass/_layout/_base.scss */
  body p {
    padding: 0 1.25rem;
  }
}

/* line 127, sass/_layout/_base.scss */
a {
  -ms-touch-action: manipulation;
  /* IE10  */
  touch-action: manipulation;
  /* IE11+ */
  cursor: pointer;
  transition: all .2s linear;
  color: #424853;
}
/* line 134, sass/_layout/_base.scss */
a:hover {
  text-decoration: none;
  color: #F2B1AF;
}
/* line 139, sass/_layout/_base.scss */
a:focus, a:active, a:target {
  outline: 0 !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

/* line 146, sass/_layout/_base.scss */
.alert-kiddo {
  margin-top: 5.1875rem;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
/* line 152, sass/_layout/_base.scss */
.alert-kiddo .close {
  font-size: 2rem;
  padding: .7rem;
}

/* line 158, sass/_layout/_base.scss */
.fixed-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* line 166, sass/_layout/_base.scss */
.c-white {
  color: white;
}

/* line 170, sass/_layout/_base.scss */
.d-primary {
  background-color: #F2A7A5;
}

/* line 174, sass/_layout/_base.scss */
.custom-page-body {
  padding: 3.75rem 0;
}
@media screen and (max-width: 768px) {
  /* line 174, sass/_layout/_base.scss */
  .custom-page-body {
    padding: 1.25rem 0;
  }
}

/* line 181, sass/_layout/_base.scss */
.row-body {
  padding: 1.875rem 0;
}
@media screen and (max-width: 768px) {
  /* line 181, sass/_layout/_base.scss */
  .row-body {
    padding: 1.5rem 0;
  }
}

/* line 188, sass/_layout/_base.scss */
section {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 188, sass/_layout/_base.scss */
  section {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 194, sass/_layout/_base.scss */
  section:last-child {
    padding-bottom: 0;
  }
}

/* line 201, sass/_layout/_base.scss */
.section-pdg {
  padding: 3.75rem 1.875rem;
}
@media screen and (max-width: 768px) {
  /* line 201, sass/_layout/_base.scss */
  .section-pdg {
    padding: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  /* line 201, sass/_layout/_base.scss */
  .section-pdg {
    padding: 1.25rem;
  }
}

/* line 211, sass/_layout/_base.scss */
.section-content {
  padding: 3.75rem 0;
}
@media screen and (max-width: 576px) {
  /* line 211, sass/_layout/_base.scss */
  .section-content {
    padding: 30px 0;
  }
}

/* line 219, sass/_layout/_base.scss */
.subtitle h2 {
  margin-bottom: 0;
}
/* line 222, sass/_layout/_base.scss */
.subtitle p.article-body__subtitle {
  margin-top: 0.5rem;
}

/* line 227, sass/_layout/_base.scss */
.sec-newsletter {
  background-color: #F2EFF4;
}

/* line 231, sass/_layout/_base.scss */
.gradient-bg {
  background: url("data:image/svg+xml,%0A%3Csvg width='1440px' height='66px' viewBox='0 0 1440 66' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Home' transform='translate(0.000000, -6162.000000)'%3E%3Cg id='Gage-de-qualité' transform='translate(0.000000, 5902.000000)'%3E%3Cg id='Group-89' transform='translate(-0.000000, 0.000000)'%3E%3Cg id='Group-10' transform='translate(0.000000, 260.000000)'%3E%3Crect id='Rectangle' fill='%23FBFBFB' x='2.27373675e-13' y='9.09494702e-13' width='1440' height='65'%3E%3C/rect%3E%3Cpath d='M720,4.19220214e-13 C954.59539,4.19220214e-13 1194.59539,21.7409648 1440,65.2228944 L0,65.2228944 C245.40461,21.7409648 485.40461,4.41389071e-13 720,4.19220214e-13 Z' id='Rectangle-6-Copy-2' fill='%23F3EEF2' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") top center no-repeat, linear-gradient(to bottom, #f3eef2 20%, #fbfbfb 100%);
  background-size: 100%;
}

/* line 238, sass/_layout/_base.scss */
.article-body__subtitle {
  font-family: Fabrikat-Light;
  font-size: 1.25rem;
  line-height: 1.375rem;
  margin-top: 1.25rem;
  text-align: center;
}
/* line 245, sass/_layout/_base.scss */
.article-body__subtitle--topfix {
  margin-top: -2.1875rem !important;
}
@media screen and (max-width: 768px) {
  /* line 245, sass/_layout/_base.scss */
  .article-body__subtitle--topfix {
    margin-top: 0.625rem !important;
    padding: 0 1.25rem;
  }
}

/* line 255, sass/_layout/_base.scss */
.shape {
  height: auto;
  position: absolute;
  width: 100%;
}

/* line 261, sass/_layout/_base.scss */
.round-crop,
.top-orange-crop,
.top-purple-crop,
.top-footer-crop {
  top: 0;
}

/* line 267, sass/_layout/_base.scss */
.bottom-orange-crop {
  bottom: 0;
}

/* line 271, sass/_layout/_base.scss */
.shape-top {
  top: 0;
}

/* line 275, sass/_layout/_base.scss */
.shape-bottom {
  bottom: 0;
}

/* line 279, sass/_layout/_base.scss */
button:focus,
input:focus,
select:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.form-control:focus {
  box-shadow: none;
  outline: 0;
}

/* line 5, sass/_layout/_nav.scss */
.bg-light {
  background-color: transparent !important;
  transition: background-color .3s ease-in;
}
@media screen and (max-width: 991px) {
  /* line 5, sass/_layout/_nav.scss */
  .bg-light {
    background-color: white !important;
  }
}

/* line 14, sass/_layout/_nav.scss */
.navbar-light .navbar-nav .current-menu-item .nav-link {
  color: #F2B1AF;
  font-family: "Fabrikat", "Arial", sans-serif;
}

/* line 20, sass/_layout/_nav.scss */
.navbar-toggler {
  border: none;
  cursor: pointer;
}

/* line 25, sass/_layout/_nav.scss */
.navbar-collapse {
  transition: all .5s ease-in-out;
}

/* line 30, sass/_layout/_nav.scss */
.navbar-light .navbar-nav .nav-item:nth-last-child(5) {
  border-right: 1px solid #eaeaea;
  padding-right: 0.9375rem;
}
@media screen and (max-width: 768px) {
  /* line 30, sass/_layout/_nav.scss */
  .navbar-light .navbar-nav .nav-item:nth-last-child(5) {
    border-right: none;
    padding-right: 0;
  }
}
/* line 38, sass/_layout/_nav.scss */
.navbar-light .navbar-nav .nav-link {
  color: #353535;
}
@media screen and (max-width: 991px) {
  /* line 38, sass/_layout/_nav.scss */
  .navbar-light .navbar-nav .nav-link {
    text-align: center;
  }
}
@media (min-width: 991px) {
  /* line 38, sass/_layout/_nav.scss */
  .navbar-light .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }
}
/* line 47, sass/_layout/_nav.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #F2B1AF;
}

/* line 53, sass/_layout/_nav.scss */
.dropdown-menu {
  top: 140%;
  padding: .5rem 0;
  border: none;
  border-top: 1px solid #F2B1AF;
  border-radius: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}
/* line 61, sass/_layout/_nav.scss */
.dropdown-menu .dropdown-item {
  padding: .75rem 1.5rem;
}

/* line 66, sass/_layout/_nav.scss */
.navbar--white {
  background-color: white !important;
}

/* line 70, sass/_layout/_nav.scss */
.shop-nav-item {
  background-color: #F2B1AF;
  border-radius: 3.125rem;
  margin-left: 1.875rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  transition: .3s;
}
@media screen and (max-width: 576px) {
  /* line 70, sass/_layout/_nav.scss */
  .shop-nav-item {
    margin-left: 0;
    text-align: center;
  }
}
/* line 81, sass/_layout/_nav.scss */
.shop-nav-item:hover {
  background-color: #F2A7A5;
}
/* line 84, sass/_layout/_nav.scss */
.shop-nav-item .nav-link {
  color: white !important;
}

/* line 5, sass/_layout/_footer.scss */
footer {
  position: relative;
  overflow: hidden;
  background-color: white;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  /* line 5, sass/_layout/_footer.scss */
  footer {
    padding-top: 3rem;
  }
}

/* line 18, sass/_layout/_footer.scss */
.footer-menu {
  opacity: .7;
  padding: 2rem 0;
}
@media screen and (max-width: 576px) {
  /* line 18, sass/_layout/_footer.scss */
  .footer-menu {
    padding: .75rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
/* line 28, sass/_layout/_footer.scss */
.footer-menu__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 25px;
}
/* line 34, sass/_layout/_footer.scss */
.footer-menu li {
  font-family: "Fabrikat Light", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7rem;
}
/* line 40, sass/_layout/_footer.scss */
.footer-menu__socials {
  padding: 20px 0;
}
/* line 42, sass/_layout/_footer.scss */
.footer-menu__socials li {
  display: inline-block;
  padding: 0 10px;
}
/* line 45, sass/_layout/_footer.scss */
.footer-menu__socials li:first-child {
  padding-left: 0;
}
/* line 51, sass/_layout/_footer.scss */
.footer-menu__socials li svg:hover path, .footer-menu__socials li svg:hover g {
  transition: .5s;
  fill: #F2B1AF;
}

/* line 61, sass/_layout/_footer.scss */
.footer-socials {
  padding-top: 0;
}

/* line 65, sass/_layout/_footer.scss */
.copyright {
  border-top: 1px solid rgba(53, 53, 53, 0.1);
}
/* line 67, sass/_layout/_footer.scss */
.copyright__content {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}
/* line 73, sass/_layout/_footer.scss */
.copyright__content p {
  font-size: 0.8rem;
  margin-bottom: 0;
  opacity: .7;
}

/*
 * 
 * Pages
 * 
*/
/* line 5, sass/_pages/_homepage.scss */
.header-top {
  width: 100%;
  max-height: 50rem;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  /* line 5, sass/_pages/_homepage.scss */
  .header-top {
    flex-direction: column;
    max-height: 100%;
  }
}

/* line 16, sass/_pages/_homepage.scss */
.split, .boxes {
  width: 50%;
}
@media screen and (max-width: 991px) {
  /* line 16, sass/_pages/_homepage.scss */
  .split, .boxes {
    width: 100%;
  }
}

/* line 25, sass/_pages/_homepage.scss */
.header-top__img img {
  width: auto;
  height: 100%;
}
@media screen and (max-width: 768px) {
  /* line 25, sass/_pages/_homepage.scss */
  .header-top__img img {
    width: 80%;
  }
}
/* line 33, sass/_pages/_homepage.scss */
.header-top__text {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 39, sass/_pages/_homepage.scss */
.header-top__text--content {
  max-width: 470px;
  width: 100%;
}
/* line 42, sass/_pages/_homepage.scss */
.header-top__text--content h1 {
  font-size: 4.5rem;
  color: #F2B1AF;
  text-align: left;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  /* line 42, sass/_pages/_homepage.scss */
  .header-top__text--content h1 {
    font-size: 3.875rem;
  }
}
/* line 51, sass/_pages/_homepage.scss */
.header-top__text--content h2 {
  line-height: 2.375rem;
}

@media screen and (max-width: 991px) {
  /* line 58, sass/_pages/_homepage.scss */
  .section-content.kiddoz {
    flex-direction: column;
    padding: 0;
  }
}

/* line 65, sass/_pages/_homepage.scss */
.section-content {
  display: flex;
}
@media screen and (max-width: 576px) {
  /* line 65, sass/_pages/_homepage.scss */
  .section-content {
    flex-direction: column;
  }
}
/* line 70, sass/_pages/_homepage.scss */
.section-content .boxes {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  /* line 70, sass/_pages/_homepage.scss */
  .section-content .boxes {
    padding: 0 1.25rem;
  }
}
/* line 82, sass/_pages/_homepage.scss */
.section-content .box__text--content {
  padding: 20px;
}
@media screen and (max-width: 576px) {
  /* line 82, sass/_pages/_homepage.scss */
  .section-content .box__text--content {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 90, sass/_pages/_homepage.scss */
  .section-content .box__img {
    padding: 1.25rem;
  }
}
/* line 94, sass/_pages/_homepage.scss */
.section-content .box__img--content {
  display: flex;
  flex-wrap: wrap;
}
/* line 97, sass/_pages/_homepage.scss */
.section-content .box__img--content img {
  align-self: center;
  margin: 10px;
}

/* line 105, sass/_pages/_homepage.scss */
.box-title {
  text-align: left !important;
  line-height: 58px;
}

/* line 110, sass/_pages/_homepage.scss */
.slider-video {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 326' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FBFBFB' d='M0 0h1440v325H0z'/%3E%3Cpath d='M720 260c234.595 0 474.595 21.741 720 65.223H0C245.405 281.74 485.405 260 720 260z' fill='%23F3EEF2' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat, linear-gradient(-180deg, #f3eef2 60%, #fbfbfb 100%);
  background-size: 100%;
}

/* line 115, sass/_pages/_homepage.scss */
.temoignages {
  background-color: #F7F1F1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 124, sass/_pages/_homepage.scss */
.labels img {
  margin: 1rem;
}

/* line 129, sass/_pages/_homepage.scss */
.kiddo-life {
  padding-bottom: 5rem;
}
@media screen and (max-width: 576px) {
  /* line 129, sass/_pages/_homepage.scss */
  .kiddo-life {
    padding-bottom: 3rem;
  }
}
/* line 134, sass/_pages/_homepage.scss */
.kiddo-life .insta-gallery {
  padding: 2rem;
}
@media screen and (max-width: 576px) {
  /* line 134, sass/_pages/_homepage.scss */
  .kiddo-life .insta-gallery {
    padding: 0;
  }
}
/* line 139, sass/_pages/_homepage.scss */
.kiddo-life .insta-gallery img {
  margin-bottom: 1.5rem;
}

/* line 145, sass/_pages/_homepage.scss */
.news {
  min-height: 70vh;
  background-color: #F2EFF4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 152, sass/_pages/_homepage.scss */
.news__content {
  padding: 3.75rem 0;
}
@media screen and (max-width: 576px) {
  /* line 152, sass/_pages/_homepage.scss */
  .news__content {
    padding-bottom: 1.875rem;
  }
}
/* line 157, sass/_pages/_homepage.scss */
.news__content .news-col {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  /* line 160, sass/_pages/_homepage.scss */
  .news__content .news-col .card {
    margin-bottom: 1.875rem;
  }
}

/* line 170, sass/_pages/_homepage.scss */
.newsletter h6 {
  font-family: "Fabrikat", "Arial", sans-serif;
  font-size: 18px;
  color: #424853;
  line-height: 26px;
  margin-bottom: 1.3rem;
}

/* line 5, sass/_pages/_histoire.scss */
.article-body {
  padding-bottom: 0;
}
/* line 8, sass/_pages/_histoire.scss */
.article-body__headline {
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 2.25rem;
  line-height: 3.375rem;
}
@media screen and (max-width: 768px) {
  /* line 8, sass/_pages/_histoire.scss */
  .article-body__headline {
    font-size: 2.5vh;
    line-height: 1.2;
  }
}
@media screen and (max-width: 576px) {
  /* line 8, sass/_pages/_histoire.scss */
  .article-body__headline {
    font-size: 3.5vh;
    line-height: 1.2;
    text-align: center;
  }
}
/* line 21, sass/_pages/_histoire.scss */
.article-body__headline strong {
  font-family: "Montserrat Bold", "Arial", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 26, sass/_pages/_histoire.scss */
  .article-body .story-img {
    margin: 1.875rem 0;
  }
}
/* line 32, sass/_pages/_histoire.scss */
.article-body__intro {
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 1.75rem;
  line-height: 2.125rem;
  padding: 3.75rem 0;
}
@media screen and (max-width: 768px) {
  /* line 32, sass/_pages/_histoire.scss */
  .article-body__intro {
    padding: 1.5rem 0;
    font-size: 1.375rem;
  }
}
/* line 43, sass/_pages/_histoire.scss */
.article-body__text {
  font-size: 1.125rem;
  line-height: 2rem;
}
/* line 46, sass/_pages/_histoire.scss */
.article-body__text--big {
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
@media screen and (max-width: 768px) {
  /* line 46, sass/_pages/_histoire.scss */
  .article-body__text--big {
    font-size: 2rem;
    line-height: 1.2;
  }
}
/* line 54, sass/_pages/_histoire.scss */
.article-body__text--big strong {
  font-family: "Montserrat Bold", "Arial", sans-serif;
}
/* line 60, sass/_pages/_histoire.scss */
.article-body__subtitle {
  font-family: Fabrikat-Light;
  font-size: 1.25rem;
  line-height: 1.375rem;
  margin-top: 1.25rem;
}
/* line 68, sass/_pages/_histoire.scss */
.article-body .img-bottom img {
  width: 100%;
}

/* line 5, sass/_pages/_kiddoz.scss */
.kiddoz-story {
  min-height: 100vh;
  padding: 16.0625rem 0;
  background-color: #F2A7A5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
@media screen and (max-width: 991px) {
  /* line 5, sass/_pages/_kiddoz.scss */
  .kiddoz-story {
    padding: 9rem 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 5, sass/_pages/_kiddoz.scss */
  .kiddoz-story {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 22, sass/_pages/_kiddoz.scss */
  .kiddoz-story .kiddoz-img img {
    width: 80%;
    margin: 1.875rem auto;
  }
}
/* line 30, sass/_pages/_kiddoz.scss */
.kiddoz-story h3.subtitle {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin: 3.75rem 0;
}
/* line 36, sass/_pages/_kiddoz.scss */
.kiddoz-story__content {
  padding: 3.75rem 0;
}
/* line 41, sass/_pages/_kiddoz.scss */
.kiddoz-story__brevet .label-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fabrikat Medium", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  background: #FBE9E9;
  color: #D19F9F;
  box-shadow: 0 51px 40px -30px #ED9392;
  border-radius: 0.3125rem;
  padding: 1.5625rem;
  width: 20.3125rem;
  height: 6.875rem;
}
@media screen and (max-width: 991px) {
  /* line 41, sass/_pages/_kiddoz.scss */
  .kiddoz-story__brevet .label-box {
    margin-top: 5.625rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 41, sass/_pages/_kiddoz.scss */
  .kiddoz-story__brevet .label-box {
    margin-top: 5.625rem;
    margin-right: 3.125rem;
  }
}
@media screen and (max-width: 576px) {
  /* line 41, sass/_pages/_kiddoz.scss */
  .kiddoz-story__brevet .label-box {
    transform: scale(0.8);
    margin-top: 1.875rem;
  }
}
/* line 72, sass/_pages/_kiddoz.scss */
.kiddoz-story__brevet .label-box p {
  margin-bottom: 0;
}
/* line 76, sass/_pages/_kiddoz.scss */
.kiddoz-story__brevet .label-box .icon-brevet {
  position: absolute;
  right: -40px;
  top: -60px;
}

/* line 85, sass/_pages/_kiddoz.scss */
.kiddoz-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 89, sass/_pages/_kiddoz.scss */
.kiddoz-desc__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
/* line 95, sass/_pages/_kiddoz.scss */
.kiddoz-desc__content div {
  height: 8.125rem;
  padding: 1.25rem;
  width: 100%;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 576px) {
  /* line 95, sass/_pages/_kiddoz.scss */
  .kiddoz-desc__content div {
    height: auto;
    margin-bottom: 0;
  }
}
/* line 104, sass/_pages/_kiddoz.scss */
.kiddoz-desc__content div:last-child {
  margin-bottom: 0rem;
}
@media screen and (max-width: 576px) {
  /* line 104, sass/_pages/_kiddoz.scss */
  .kiddoz-desc__content div:last-child {
    margin-bottom: 1.25rem;
  }
}

/* line 115, sass/_pages/_kiddoz.scss */
.kiddoz-use .img-kiddoz-use {
  max-height: 15.625rem;
  height: 100%;
  padding: 1.25rem;
  margin-bottom: 1.875rem;
}
/* line 121, sass/_pages/_kiddoz.scss */
.kiddoz-use .img-kiddoz-use__caption {
  text-align: left;
  max-width: 15.625rem;
}
/* line 124, sass/_pages/_kiddoz.scss */
.kiddoz-use .img-kiddoz-use__caption h5 {
  font-family: "Fabrikat", "Arial", sans-serif;
  margin-bottom: 1.25rem;
}
/* line 131, sass/_pages/_kiddoz.scss */
.kiddoz-use__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 5, sass/_pages/_about.scss */
.qualite {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  /* line 9, sass/_pages/_about.scss */
  .qualite .section-content {
    flex-direction: column;
  }
}

/* line 16, sass/_pages/_about.scss */
.team {
  background: #F2A7A5;
  background: url("data:image/svg+xml,%3Csvg class='shape shape-top' viewBox='0 0 1440 257' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FBFBFB' d='M0 0h1441v256H0z'/%3E%3Cpath d='M0 256V105.611C38.054 77.68 78.75 54.318 122.786 36.654 271.433-22.97 447.518-9.144 585.083 72.961c41.924 24.978 80.782 56.128 126.5 73.488 39.75 15.111 84.418 17.538 122.012-3.711 31.055-17.574 51.562-26.958 88.71-29.991a769.374 769.374 0 0 1 229.662 16.45 441.12 441.12 0 0 1 9.104 2.087C1261.188 154.818 1355.79 193.04 1440 252v4c-129.854.337-1436.59 0-1440 0z' fill='%23F2A7A5' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat, #F2A7A5;
}

/* line 21, sass/_pages/_about.scss */
.team-member {
  padding: 1.25rem;
}
/* line 23, sass/_pages/_about.scss */
.team-member__head {
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
}
/* line 29, sass/_pages/_about.scss */
.team-member__head h5 {
  font-family: "Fabrikat Medium", "Arial", sans-serif;
}
/* line 32, sass/_pages/_about.scss */
.team-member__head img {
  margin: 1.25rem 0;
}
/* line 37, sass/_pages/_about.scss */
.team-member__desc {
  padding: 1.25rem;
}

/* line 5, sass/_pages/_blog.scss */
.blog-header {
  width: 100%;
  height: 32.1875rem;
  border-radius: 0.625rem;
  background-color: #F2B1AF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.75rem 0;
}
@media screen and (max-width: 576px) {
  /* line 5, sass/_pages/_blog.scss */
  .blog-header {
    height: 30vh;
    margin: 3.75rem 0 1rem 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 19, sass/_pages/_blog.scss */
  .blog-header h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 26, sass/_pages/_blog.scss */
  .blog-header .button-default {
    margin-top: 1.25rem;
  }
}

/* line 34, sass/_pages/_blog.scss */
.latest-post__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 3.25rem;
  line-height: 1.3;
  color: white;
  text-align: center;
  margin-bottom: 1.875rem;
}

/* line 44, sass/_pages/_blog.scss */
.posts-body {
  padding: 1.875rem 0 3.75rem 0;
}

/* line 54, sass/_pages/_blog.scss */
.single-post__h1 {
  font-family: "Montserrat", "Arial", sans-serif !important;
  margin-bottom: 3.75rem !important;
}
/* line 59, sass/_pages/_blog.scss */
.single-post .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
/* line 66, sass/_pages/_blog.scss */
.single-post__avatar {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: #eef1f3;
  vertical-align: middle;
  margin-right: 1rem;
}
/* line 76, sass/_pages/_blog.scss */
.single-post__avatar img {
  height: auto;
  width: 100%;
}
/* line 82, sass/_pages/_blog.scss */
.single-post__header {
  margin-top: 1.875rem;
}
/* line 86, sass/_pages/_blog.scss */
.single-post__thumbnail {
  border-radius: 0.625rem;
  box-shadow: 0 76px 47px -56px rgba(44, 53, 69, 0.12);
}
/* line 91, sass/_pages/_blog.scss */
.single-post__body {
  padding: 1.875rem 0;
}
/* line 94, sass/_pages/_blog.scss */
.single-post__body h4 {
  font-family: "Fabrikat", "Arial", sans-serif;
  font-size: 1.5rem;
  color: #353535;
  line-height: 32px;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 576px) {
  /* line 102, sass/_pages/_blog.scss */
  .single-post__body p {
    padding: 0;
  }
}
/* line 108, sass/_pages/_blog.scss */
.single-post__body .wp-block-image {
  margin: 1.875rem 0;
}

@media screen and (max-width: 768px) {
  /* line 114, sass/_pages/_blog.scss */
  .related-section {
    padding-top: 3.125rem;
  }
}

/* line 120, sass/_pages/_blog.scss */
.related-stories {
  padding: 3.75rem 0;
}
@media screen and (max-width: 768px) {
  /* line 123, sass/_pages/_blog.scss */
  .related-stories .related-card {
    margin-bottom: 1.25rem;
  }
}

/* line 130, sass/_pages/_blog.scss */
.post-tease {
  margin-bottom: 1.875rem;
}

/* line 5, sass/_pages/_vente.scss */
.acf-map {
  width: 100%;
  height: 31.25rem;
}

@media screen and (max-width: 768px) {
  /* line 12, sass/_pages/_vente.scss */
  .partners h2 {
    margin-top: 1.875rem;
    margin-bottom: 0;
  }
}
/* line 19, sass/_pages/_vente.scss */
.partners .partners-wrapper {
  padding: 3.75rem 0;
}
/* line 23, sass/_pages/_vente.scss */
.partners .partners-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 28, sass/_pages/_vente.scss */
.partners .partners-bloc h3 {
  font-size: 1.125rem;
  font-family: "Fabrikat", "Arial", sans-serif;
  margin-bottom: 1.875rem;
}
/* line 34, sass/_pages/_vente.scss */
.partners .partners-bloc img {
  height: 1.5rem;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .3;
  transition: opacity .2s ease-in;
}
/* line 41, sass/_pages/_vente.scss */
.partners .partners-bloc img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* line 47, sass/_pages/_vente.scss */
.partners .partners-bloc__list {
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 53, sass/_pages/_vente.scss */
.partners .partners-bloc__list li {
  line-height: 4;
}
/* line 55, sass/_pages/_vente.scss */
.partners .partners-bloc__list li a {
  padding: 0.375rem 0.5rem;
}

@media screen and (max-width: 576px) {
  /* line 6, sass/_pages/_shop.scss */
  .before-shop-loop .woocommerce-ordering {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  /* line 14, sass/_pages/_shop.scss */
  .loop .row {
    width: 100%;
  }
}

/* line 22, sass/_pages/_shop.scss */
.shop-content .before-shop-loop {
  height: 4.375rem;
  padding: 0 10vw;
}

/* line 28, sass/_pages/_shop.scss */
.media.product-teasing {
  margin-bottom: 3.125rem;
  padding: 1.25rem;
  border: 1px solid #F2EFF4;
  transition: .5s;
}
/* line 34, sass/_pages/_shop.scss */
.media.product-teasing h3 {
  font-family: "Montserrat Light", "Arial", sans-serif;
}
/* line 38, sass/_pages/_shop.scss */
.media.product-teasing .price {
  display: block;
  margin: 0.625rem 0 1.25rem 0;
  font-size: 1.25rem;
  color: #F2B1AF;
  font-weight: bold;
}
/* line 46, sass/_pages/_shop.scss */
.media.product-teasing:hover {
  background-color: rgba(229, 213, 225, 0.15);
}
