@import './variables';

@mixin clearfix() {
    // http://nicolasgallagher.com/micro-clearfix-hack/
    // USAGE: @include clearfix();
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//PIXELS TO EM
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

@function calculateRem($sizing) {
    $remSize: $sizing / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($sizing) {
    font-size: $sizing;
    font-size: calculateRem($sizing);
}

$baseFontSize : 16;
@function rem($pixels, $screen: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($screen)) {
        $screen: $screen * 1px;
    }

    @return $pixels / $screen * 1rem;
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder           {@content};
    ::-moz-placeholder          {@content};
    :-ms-input-placeholder      {@content}; 
}
  
@include placeholder {
    font-style: italic;
    color: rgba($text-color, .3);
    font-size: rem(14);
}