//---------------------------------------------------------------------------------------
// TYPOGRAPHY
//---------------------------------------------------------------------------------------

/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/montserrat-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Light'), local('Montserrat-Light'),
         url('fonts/montserrat-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v13-latin-300.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v13-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
font-family: 'Montserrat Light Italic';
font-style: italic;
font-weight: 300;
src: url('fonts/montserrat-v13-latin-300italic.eot'); /* IE9 Compat Modes */
src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('fonts/montserrat-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/montserrat-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/montserrat-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('fonts/montserrat-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/montserrat-v13-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
src: url('fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
font-family: 'Montserrat Italic';
font-style: italic;
font-weight: 400;
src: url('fonts/montserrat-v13-latin-italic.eot'); /* IE9 Compat Modes */
src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('fonts/montserrat-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/montserrat-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/montserrat-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('fonts/montserrat-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/montserrat-v13-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
font-family: 'Montserrat Bold';
font-style: normal;
font-weight: 700;
src: url('fonts/montserrat-v13-latin-700.eot'); /* IE9 Compat Modes */
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('fonts/montserrat-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/montserrat-v13-latin-700.woff') format('woff'), /* Modern Browsers */
        url('fonts/montserrat-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/montserrat-v13-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
font-family: 'Montserrat Bold Italic';
font-style: italic;
font-weight: 700;
src: url('fonts/montserrat-v13-latin-700italic.eot'); /* IE9 Compat Modes */
src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('fonts/montserrat-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/montserrat-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/montserrat-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('fonts/montserrat-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/montserrat-v13-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* Fabrikat Light */
@font-face {
    font-family: 'Fabrikat Light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Fabrikat-Light.eot'); /* IE9 Compat Modes */
    src: local('Fabrikat Light'), local('Fabrikat-Light'),
         url('fonts/Fabrikat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Fabrikat-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/Fabrikat-Light.woff') format('woff'), /* Modern Browsers */
}
/* Fabrikat Regular */
@font-face {
font-family: 'Fabrikat';
font-style: normal;
font-weight: 400;
src: url('fonts/Fabrikat-Regular.eot'); /* IE9 Compat Modes */
src: local('Fabrikat Regular'), local('Fabrikat-Regular'),
        url('fonts/Fabrikat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/Fabrikat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/Fabrikat-Regular.woff') format('woff'), /* Modern Browsers */
}
/* Fabrikat Medium */
@font-face {
font-family: 'Fabrikat Medium';
font-style: normal;
font-weight: 600;
src: url('fonts/Fabrikat-Medium.eot'); /* IE9 Compat Modes */
src: local('Fabrikat Medium'), local('Fabrikat-Medium'),
        url('fonts/Fabrikat-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/Fabrikat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/Fabrikat-Medium.woff') format('woff'), /* Modern Browsers */
}
/* Fabrikat Bold */
@font-face {
font-family: 'Fabrikat Bold';
font-style: normal;
font-weight: 700;
src: url('fonts/Fabrikat-Bold.eot'); /* IE9 Compat Modes */
src: local('Fabrikat Bold'), local('Fabrikat-Bold'),
        url('fonts/Fabrikat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/Fabrikat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/Fabrikat-Bold.woff') format('woff'), /* Modern Browsers */
}