//---------------------------------------------------------------------------------------
// Text Style
//---------------------------------------------------------------------------------------

/// Regular font family
/// @type List
$fabrikat_lgt: 'Fabrikat Light','Arial', sans-serif !default;
$fabrikat: 'Fabrikat','Arial', sans-serif !default;
$fabrikat_med: 'Fabrikat Medium','Arial', sans-serif !default;
$fabrikat_bld: 'Fabrikat Bold','Arial', sans-serif !default;

$montserrat_lgt: 'Montserrat Light','Arial', sans-serif !default;
$montserrat_lgt_it: 'Montserrat Light Italic','Arial', sans-serif !default;
$montserrat: 'Montserrat','Arial', sans-serif !default;
$montserrat_it: 'Montserrat Italic','Arial', sans-serif !default;
$montserrat_bld: 'Montserrat Bold','Arial', sans-serif !default;
$montserrat_bld_it: 'Montserrat Bold Italic','Arial', sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #424853 !default;
$title : #353535 !default;
$primary : #F2B1AF !default;
$darker-primary : #F2A7A5 !default;

/// Main brand color 
/// @type Color
$white: rgb(255, 255, 255);
$background: #FBFBFB!default;
$purple: #F2EFF4!default;
$pink : #E5D5E1 !default;
$pinkier : #D690BE !default;
$blue : #83A8D8 !default;
$light-orange: #F7F1F1!default;
$smooth-orange: #F9F5F5!default;
$disabled: #CCCCCC !default;

/// Main breakpoints
$xs: 576px;
$sm: 768px;
$md: 991px;
$lg: 1200px;