//---------------------------------------------------------------------------------------
// Base
//---------------------------------------------------------------------------------------

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .content-wrapper {
        flex: 1;
    }
}

body {
    font-family: $fabrikat_lgt;
    color: $text-color;
    background: $background;
    font-size: 16px;
    line-height: 28px;

    strong {
        font-family: $fabrikat_med;
    }

    em {
        font-style: italic;
    }

    h1 {
        font-family: $montserrat_bld;
        color: $title;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (max-width: $xs) {
            padding: 0 rem(20)
        }
    }

    h1.article-h1 {
        font-family: $montserrat_lgt;
        font-size: 3.375rem;
        color: $title;
        text-align: center;
        line-height: 45px;
        margin: 7.5rem 0 3rem 0;
        @media screen and (max-width: $xs) {
            font-size: 11vw;
        }
        @media screen and (max-width: $sm) {
            margin: 7.5rem 0 0 0;
        }

        strong {
            font-family: $montserrat_bld;
        }
    }

    .section-title {
        text-align: center;
        font-size: 3rem;
        font-family: $montserrat_lgt;
        margin: 30px 0;
        position: relative;
        z-index: 10;
        @media screen and (max-width: $xs) {
            line-height: 1.2
        }
        strong {
            font-family: $montserrat_bld;
        }
    }

    h2 {
        font-family: $montserrat_lgt;
        font-size: rem(38);
        line-height: rem(45);
        color: $title;
        margin-bottom: rem(30);
        text-align: center;
        @media screen and (max-width: $sm) {
            font-size: 1.8rem;
            line-height: 1.2;
        }
        @media screen and (max-width: $xs) {
            font-size: 7vw;
            line-height: 1.2;
        }

        strong {
            font-family: $montserrat_bld;
        }
    }

    .article-h2__left {
        text-align: left;
        margin-bottom: rem(50);
    }

    .article-h2 {
        margin-bottom: rem(50);
        line-height: 1.2;
    }

    p {
        margin-bottom: 1rem;
        @media screen and (max-width: $xs) {
            padding: 0 rem(20)
        }
    } 

}

a {
    -ms-touch-action: manipulation;	/* IE10  */
    touch-action: manipulation;		/* IE11+ */
    cursor: pointer;
    transition: all .2s linear;
    color: $text-color;

    &:hover {
        text-decoration: none;
        color: $primary;
    }

    &:focus, &:active, &:target{
        outline: 0!important;
        text-decoration: none!important;
        box-shadow: none!important;
    }
}

.alert-kiddo {
    margin-top: rem(83);
    margin-bottom: 0;
    border: none;
    border-radius: 0;

    .close {
        font-size: 2rem;
        padding: .7rem;
    }
}

.fixed-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 999;
}

.c-white {
    color: $white;
}

.d-primary {
    background-color: $darker_primary;
}

.custom-page-body {
    padding: 3.75rem 0;
    @media screen and (max-width: $sm) {
        padding: rem(20) 0;
    }
}

.row-body {
    padding: 1.875rem 0;
    @media screen and (max-width: $sm) {
        padding: 1.5rem 0;
    }
}

section {
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $sm) {
        padding: 0
    }
    &:last-child {
        @media screen and (max-width: $sm) {
            padding-bottom: 0;
        }
    }
}

.section-pdg {
    padding: rem(60) rem(30);
    @media screen and (max-width: $sm) {
        padding: rem(20)
    }
    @media screen and (max-width: $xs) {
        padding: rem(20)
    }
}

.section-content {
    padding: rem(60) 0;
    @media screen and (max-width: $xs) {
        padding: 30px 0;
    }
}

.subtitle {
    h2 {
        margin-bottom: 0;
    }
    p.article-body__subtitle {
        margin-top: 0.5rem;
    }
}

.sec-newsletter {
    background-color: $purple;
}

.gradient-bg {
    background: url("data:image/svg+xml,%0A%3Csvg width='1440px' height='66px' viewBox='0 0 1440 66' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Home' transform='translate(0.000000, -6162.000000)'%3E%3Cg id='Gage-de-qualité' transform='translate(0.000000, 5902.000000)'%3E%3Cg id='Group-89' transform='translate(-0.000000, 0.000000)'%3E%3Cg id='Group-10' transform='translate(0.000000, 260.000000)'%3E%3Crect id='Rectangle' fill='%23FBFBFB' x='2.27373675e-13' y='9.09494702e-13' width='1440' height='65'%3E%3C/rect%3E%3Cpath d='M720,4.19220214e-13 C954.59539,4.19220214e-13 1194.59539,21.7409648 1440,65.2228944 L0,65.2228944 C245.40461,21.7409648 485.40461,4.41389071e-13 720,4.19220214e-13 Z' id='Rectangle-6-Copy-2' fill='%23F3EEF2' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") top center no-repeat, linear-gradient(to bottom, #F3EEF2 20%, #FBFBFB 100%);
    background-size: 100%;
    //min-height: 70vh;
}

.article-body {
    &__subtitle {
        font-family: Fabrikat-Light;
        font-size: rem(20);
        line-height: rem(22);
        margin-top: rem(20);
        text-align: center;

        &--topfix {
            margin-top: rem(-35) !important;
            @media screen and (max-width: $sm) {
                margin-top: rem(10)!important;
                padding: 0 rem(20);
            }
        }
    }
}

.shape {
    height: auto;
    position: absolute;
    width: 100%;
}

.round-crop, 
.top-orange-crop,
.top-purple-crop,
.top-footer-crop {
    top: 0;
}
.bottom-orange-crop {
    bottom: 0;
}

.shape-top {
    top: 0;
}

.shape-bottom {
    bottom: 0;
}

button:focus,
input:focus,
select:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus,
.form-control:focus {
    box-shadow: none;
    outline: 0;
}
