//---------------------------------------------------------------------------------------
// Footer
//---------------------------------------------------------------------------------------

footer {
    position: relative;
    overflow: hidden;
    background-color: $white;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: $xs) {
        padding-top: 3rem;
    }
}

.footer-menu {
    opacity: .7;
    padding: 2rem 0;
    @media screen and (max-width: $xs) {
        padding: .75rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center
    }
    &__title {
        font-family: $montserrat;
        font-size: 0.875rem;
        margin-bottom: 25px;
    }
    
    li {
        font-family: $fabrikat_lgt;
        font-size: rem(14);
        line-height: 1.7rem;
    }

    &__socials {
        padding : 20px 0;
        li {
            display: inline-block;
            padding: 0 10px;
            &:first-child {
                padding-left: 0;
            }

            svg {
                &:hover {
                    path, g {
                        transition: .5s;
                        fill: $primary;
                    }
                }
            }
        }
    }
}

.footer-socials {
    padding-top: 0;
}

.copyright {
    border-top : 1px solid rgba($title, .1);
    &__content {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;

        p {
            font-size: 0.8rem;
            margin-bottom: 0;
            opacity: .7;
        }
    }
}
