//---------------------------------------------------------------------------------------
// Nav Style
//---------------------------------------------------------------------------------------

.bg-light {
    background-color: transparent!important;
    transition: background-color .3s ease-in;
    @media screen and (max-width: $md) {
        background-color: $white!important;
    }
}

.navbar-light .navbar-nav .current-menu-item {
    .nav-link {
        color: $primary;
        font-family: $fabrikat;
    }
}

.navbar-toggler {
    border: none;
    cursor: pointer;
}

.navbar-collapse {
    transition: all .5s ease-in-out;
}

.navbar-light .navbar-nav {
    .nav-item:nth-last-child(5) {
        border-right: 1px solid #eaeaea;
        padding-right: rem(15);
        @media screen and (max-width: $sm) {
            border-right: none;
            padding-right: 0;
        }
    }
    .nav-link {
        color: $title;
        @media screen and (max-width: $md) {
            text-align: center;
        }
        @media (min-width: $md) {
            padding-right: .8rem;
            padding-left: .8rem;
        }
        &:hover {
            color: $primary;
        }
    }
}

.dropdown-menu {
    top: 140%;
    padding: .5rem 0;
    border: none;
    border-top: 1px solid $primary;
    border-radius: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05);

    .dropdown-item {
        padding: .75rem 1.5rem;
    }
}

.navbar--white {
    background-color: $white!important;
}

.shop-nav-item {
    background-color: $primary;
    border-radius: rem(50);
    margin-left: rem(30);
    padding-right: rem(15);
    padding-left: rem(15);
    transition: .3s;
    @media screen and (max-width: $xs) {
        margin-left: 0;
        text-align: center;
    }
    &:hover {
        background-color: $darker-primary ;
    }
    .nav-link {
        color: $white!important;
    }
}