{% if posts.pagination.pages is not empty %}
<nav aria-label="navigation tool-navigation">
    <ul class="pagination pages justify-content-center">
        {% if pagination.prev %}
            <li class="page-item page-blog__item">
            <a class="page-link page-blog__link" href="{{posts.pagination.prev.link}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
            <li class="page-item page-blog__item disabled">
            <a class="page-link page-blog__link" href="{{posts.pagination.prev.link}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="page-item page-blog__item"><a href="{{page.link}}" class="page-link page-blog__link {{page.class}}">{{page.title}}</a></li>
                {% else %}
                    <li class="page-item page-blog__item active"><a href="{{page.link}}" class="page-link page-blog__link {{page.class}}">{{page.title}} <span class="sr-only">(current)</span></a></li>
                {% endif %}
            
        {% endfor %}
        {% if pagination.next %}
            <li class="page-item page-blog__item ">
                <a class="page-link page-blog__link" href="{{posts.pagination.next.link}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item page-blog__item disabled">
                <a class="page-link page-blog__link" href="{{posts.pagination.next.link}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}