{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} site" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
						<div class="container-fluid">
							<a class="navbar-brand" href="{{site.url}}" rel="home">
								<img src="{{theme.link}}/img/kiddo_logo_gradient@2x.png" width="93" height="50" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								{% include "menu.twig" with {'menu': menu.get_items} %}
							</div>
						</div>
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>
		{% if options.alert_kiddo %}
			<div class="alert alert-info alert-kiddo alert-dismissible fade show text-center">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ options.alert_kiddo.texte_gras }}</strong> {{ options.alert_kiddo.texte }}
			</div>
		{% endif %}
		<main id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>
		
		<section class="sec-newsletter section-pdg">
			<div class="container">
				<div class="row newsletter">
					<div class="col-lg-9 mx-auto text-center">
						{{ mailchimp_widget }}
					</div>
				</div>
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
