{% if menu %}
	<div class="dropdown-menu">
	{% for item in menu %}
		
			<a class="dropdown-item {{item.classes | join(' ')}}" href="{{item.get_link}}">
				{{item.title}}
			</a>
		
	{% endfor %}
	</div>
{% endif %}