<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            {{ footer_sidebar_1 }}
        </div>
        <div class="col-lg-4 col-sm-6">
            {{ footer_sidebar_2 }}
        </div>
        <div class="col-lg-4 col-sm-6">
                {{ footer_sidebar_3 }}
            {% if socials %}
                <nav class="footer-menu footer-socials">
                    <ul class="footer-menu__socials">
                    {% for social in socials %}
                        {% if social.acf_fc_layout == 'instagram' %}
                        <li><a href="{{ social.instagram_link }}" target="_blank">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#353535" fill-rule="evenodd">
                                    <path d="M18.462 15A3.466 3.466 0 0 1 15 18.462H5A3.466 3.466 0 0 1 1.538 15V5A3.466 3.466 0 0 1 5 1.538h10A3.466 3.466 0 0 1 18.462 5v10zM15 0H5C2.243 0 0 2.243 0 5v10c0 2.757 2.243 5 5 5h10c2.757 0 5-2.243 5-5V5c0-2.757-2.243-5-5-5z"/>
                                    <path d="M9.983 13.863A3.867 3.867 0 0 1 6.121 10a3.867 3.867 0 0 1 3.862-3.863A3.868 3.868 0 0 1 13.846 10a3.868 3.868 0 0 1-3.863 3.863m0-9.265A5.407 5.407 0 0 0 4.583 10a5.407 5.407 0 0 0 5.4 5.402A5.408 5.408 0 0 0 15.385 10a5.408 5.408 0 0 0-5.402-5.402M15.385 2.308a.77.77 0 0 0-.77.769.77.77 0 0 0 1.538 0 .77.77 0 0 0-.768-.77"/>
                                </g>
                            </svg>
                        </a></li>
                        {% elseif social.acf_fc_layout == 'facebook' %}
                        <li><a href="{{ social.facebook_link }}" target="_blank">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.462 0H1.538A1.54 1.54 0 0 0 0 1.538v16.924C0 19.31.69 20 1.538 20h8.077a.385.385 0 0 0 .385-.385v-5.384a.385.385 0 0 0-.385-.385H8.077a.385.385 0 0 1-.385-.384v-3.077c0-.213.173-.385.385-.385h1.538A.385.385 0 0 0 10 9.615V8.077a4.235 4.235 0 0 1 4.23-4.23h2.308c.213 0 .385.171.385.384v3.077a.385.385 0 0 1-.385.384H15c-.636 0-1.154.518-1.154 1.154v.77c0 .212.172.384.385.384h2.307a.386.386 0 0 1 .382.432l-.385 3.077a.385.385 0 0 1-.381.337H14.23a.385.385 0 0 0-.385.385v5.384c0 .213.172.385.385.385h4.23A1.54 1.54 0 0 0 20 18.462V1.538A1.54 1.54 0 0 0 18.462 0" fill="#353535" fill-rule="evenodd"/>
                            </svg>
                        </a></li>
                        {% elseif social.acf_fc_layout == 'twitter' %}
                        <li><a href="{{ social.twitter_link }}" target="_blank">
                            <svg width="25" height="20" viewBox="0 0 25 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.894 2.428a.419.419 0 0 0-.498-.094c-.196.099-.63.238-1.103.358.48-.552.882-1.22 1.042-1.81A.418.418 0 0 0 23.7.428c-.321.219-1.829.86-2.764 1.045C19.775.456 18.624 0 17.23 0c-1.033 0-1.992.284-3.11.92-1.991 1.136-2.293 3.633-2.121 5.098C6.49 5.558 3.405 2.49 2.315 1.16a.416.416 0 0 0-.678.048C.91 2.402.709 3.743 1.057 5.084c.22.84.627 1.58 1.087 2.16a6.044 6.044 0 0 1-.943-.62.418.418 0 0 0-.676.326c0 2.425 1.635 4.08 3.044 4.897a8.448 8.448 0 0 1-.931-.23.416.416 0 0 0-.498.575c.864 1.861 2.609 3.232 4.54 3.644C5.01 16.878 2.643 17.398.463 17.15a.416.416 0 1 0-.247.78C2.757 19.323 5.394 20 8.279 20h.019c4.065-.003 7.848-1.742 10.651-4.893 2.542-2.857 3.865-6.479 3.573-9.74.687-.484 1.757-1.424 2.41-2.434a.416.416 0 0 0-.038-.505" fill="#353535" fill-rule="evenodd"/>
                            </svg>
                        </a></li>
                        {% elseif social.acf_fc_layout == 'youtube' %}
                        <li><a href="{{ social.youtube_link }}" target="_blank">
                            <svg width="27" height="20" viewBox="0 0 27 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.685 10.388l-8.1 5a.444.444 0 0 1-.455.008A.455.455 0 0 1 9.9 15V5c0-.164.088-.315.23-.396a.447.447 0 0 1 .455.008l8.1 5a.458.458 0 0 1 0 .776m4.6-9.768c-.682-.057-1.344-.12-2-.18C18.86.214 16.572 0 13.5 0c-2.97 0-5.46.228-7.867.45-.635.057-1.272.115-1.919.17C1.632.796 0 2.586 0 4.697v10.607c0 2.11 1.632 3.9 3.714 4.076.677.057 1.334.118 1.987.18 2.441.225 4.747.44 7.799.44 3.138 0 5.374-.21 7.743-.434.667-.063 1.342-.126 2.043-.186C25.369 19.205 27 17.414 27 15.304V4.697c0-2.11-1.63-3.9-3.714-4.077" fill="#353535" fill-rule="evenodd"/>
                            </svg>
                        </a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>
<div class="row copyright">
    <div class="col copyright__content text-center">
        <p>Kiddo {{"now"|date('Y')}} | Tous droits réservés</p>
    </div>
</div>
<svg class="shape top-footer-crop" viewBox="0 0 1440 76" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd">
        <path fill="#F2EFF4" d="M0 0h1440v76H0z"/>
        <path d="M0 60.362C83.922 21.704 184.922 2.375 303 2.375c177.117 0 433.594 100.709 681.984 27.82C1150.578-18.397 1302.25-8.34 1440 60.362V76H0V60.362z" fill="#EEEAF0"/>
        <path d="M0 75.922c83.922-42.219 184.922-63.328 303-63.328 177.117 0 433.594 109.984 681.984 30.383C1150.578-10.091 1302.25.89 1440 75.922H0z" fill="#FFF"/>
    </g>
</svg>