{% extends "base.twig" %}

{% block content %}
	{% if home %}
		{% for section in home %}
			{% if section.acf_fc_layout == 'home_header' %}
				<section class="header-top"> 
					<div class="split header-top__img">
						<img class="img-fluid" src="{{ Image(section.image).src }}" class="d-block img-fluid" alt="{{ Image(section.image).alt }}"/>
					</div>
					<div class="split header-top__text">
						<div class="header-top__text--content">
							<h1>{{ section.titre }}</h1>
							<h2 class="article-h2__left">{{ section.subtitle}}</h2>
							<p>{{ section.description }}</p>
							<a class="button-default" href="{{ section.lien_du_bouton }}" role="button">{{ section.texte_bouton }}</a>
						</div>
					</div>
				</section>
			{% elseif section.acf_fc_layout == 'kiddoz_est' %}
				<section class="section">
					<div class="container">
						<div class="section-content">
							<div class="boxes box__text">
								<div class="box__text--content">
									<h2 class="section-title box-title">{{ section.titre_fin }}<br/> <strong>{{ section.titre_gras }}</strong></h2>
									{{ section.texte }}
								</div>
							</div>
							{% if section.images %}
								<div class="boxes box__img">
									<div class="box__img--content">
									{% for item in section.images %}
										<img class="img-fluid" src="{{ Image(item.image).src }}" class="d-block img-fluid" alt="{{ Image(item.image).alt }}"/>
									{% endfor %}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</section>
			{% elseif section.acf_fc_layout == 'slider_post' %}
				{% set homeslider = section.homeslider %}
				{% if homeslider %}
					<section class="slider">
						<div id="carouselPosts" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
							<ol class="carousel-indicators">
							{% set count = 0 %}
								{% for slide in homeslider %}
									{% if count == 0 %}
										<li data-target="#carouselPosts" data-slide-to="0" class="active"></li>
									{% else %}
										<li data-target="#carouselPosts" data-slide-to="{{ count }}"></li>
									{% endif %}
									{% set count = count + 1 %}
								{% endfor %}
							</ol>
							<div class="carousel-inner">
								{% set count = 0 %}
								{% for slide in homeslider %}
									{% if slide.acf_fc_layout == 'slide_texte_bouton' %}
										<div class="carousel-item item {% if count == 0 %}active{% endif %}" style="background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%),url('{{ Image(slide.image).src }}')center center / cover no-repeat">
											<div class="carousel-caption d-none d-md-block">
												<h5>{{ slide.texte }}</h5>
												<a class="button-default" href="{{ slide.lien_du_bouton }}" role="button">{{ slide.texte_bouton }}</a>
											</div>
										</div>
									{% elseif slide.acf_fc_layout == 'slide_texte' %}
										<div class="carousel-item item {% if count == 0 %}active{% endif %}" style="background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%),url('{{ Image(slide.image).src }}')center center / cover no-repeat">
											<div class="carousel-caption d-none d-md-block">
												<h5>{{ slide.texte }}</h5>
											</div>
										</div>
									{% elseif slide.acf_fc_layout == 'slide_post' %}
										{% set post = TimberPost(slide.post) %}
										<div class="carousel-item item {% if count == 0 %}active{% endif %}" style="background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%),url('{{ post.thumbnail.src }}')center center / cover no-repeat">
											<div class="carousel-caption d-none d-md-block">
												<h5>{{ post.title }}</h5>
												<a class="button-default" href="{{ post.link }}" role="button">Lire l'article</a>
											</div>
										</div>
									{% endif %}
									{% set count = count + 1 %}
								{% endfor %}
							</div>
							<a class="carousel-control-prev slider-control-prev" href="#carouselPosts" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon slider-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next slider-control-next" href="#carouselPosts" role="button" data-slide="next">
								<span class="carousel-control-next-icon slider-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</section>
				{% endif %}
			{% elseif section.acf_fc_layout == 'kiddoz_by_kiddo' %}
				<section class="section-pdg">
					<div class="container">
						<h2 class="section-title">{{ section.titre_fin }} 
						<strong>{{ section.titre_gras }}</strong></h2>
						<div class="section-content kiddoz">
							<div class="boxes box__text">
								<div class="box__text--content">
									{{ section.texte }}
								</div>
							</div>
							<div class="boxes box__img">
								<div class="box__img--content">
									<img class="img-fluid" src="{{ Image(section.image).src }}" class="d-block img-fluid" alt="{{ Image(section.image).alt }}"/>
								</div>
							</div>
						</div>
					</div>
				</section>
			{% elseif section.acf_fc_layout == 'section_videos' %}
				<section class="gradient-bg slider-video">
					<div id="sliderVideo" class="carousel slider slide" data-ride="carousel" data-interval="false">
						<ol class="carousel-indicators video-indicators">
							{% set video_count = 0 %}
							{% for video in section.slider_video %}
								{% if video_count == 0 %}
									<li data-target="#sliderVideo" data-slide-to="0" class="active"></li>
									{% else %}
									<li data-target="#sliderVideo" data-slide-to="{{ video_count }}"></li>
								{% endif %}
								{% set video_count = video_count + 1 %}
							{% endfor %}
						</ol>
						<div class="carousel-inner">
							{% set video_slide = 0 %}
							{% for video in section.slider_video %}
								<div class="carousel-item {% if video_slide == 0 %}active{% endif %}">
									<div class="item-wrapper">
										<div class="item-thumbnail" style="background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%),url('{{ Image(video.image).src }}') center center / cover no-repeat">
										</div>
										<a class="button video-btn" data-toggle="modal" data-src="{{ video.lien_video }}" data-target="#myModal-{{ video_slide }}">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 110 110" class="play icon">
												<g fill-rule="nonzero" fill="none">
													<circle fill="#F2B1AF" opacity=".926" cx="55" cy="55" r="55"/>
													<path fill="#FFF" d="M63.533 56.067L48.6 64.6V47.533z"/>
												</g>
											</svg>
										</a>
									</div>
								</div>
							{% set video_slide = video_slide + 1 %}
							{% endfor %}
						</div>
						<a class="carousel-control-prev video-control-prev" href="#sliderVideo" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon video-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next video-control-next" href="#sliderVideo" role="button" data-slide="next">
							<span class="carousel-control-next-icon video-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</section>
				{% set modal = 0 %}
				{% for video in section.slider_video %}
					<div class="modal modal-video fade" id="myModal-{{ modal }}" tabindex="-1" role="dialog" aria-labelledby="modalVideo" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-full" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								{% if video.lien_video %}
									<div class="modal-body">       
										<!-- 16:9 aspect ratio -->
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item video-item" src="" allowscriptaccess="always"></iframe>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div> 
					{% set modal = modal + 1 %}
				{% endfor %}
			{% elseif section.acf_fc_layout == 'section_temoignages' %}
				<section class="temoignages">
					<h2 class="section-title">{{ section.titre_fin }} <strong>{{ section.titre_gras }}</strong></h2>
					<div id="sliderTemoignages" class="carousel slider slide w-100" data-ride="carousel" data-interval="false">
						<ol class="carousel-indicators video-indicators">
							{% set count = 0 %}
							{% for temoignage in section.temoignages %}
								{% if count == 0 %}
									<li data-target="#sliderTemoignages" data-slide-to="0" class="active"></li>
								{% else %}
									<li data-target="#sliderTemoignages" data-slide-to="{{ count }}"></li>
								{% endif %}
								{% set count = count + 1 %}
							{% endfor %}
						</ol>
						<div class="carousel-inner" role="listbox">
							{% set slide = 0 %}
							{% for temoignage in section.temoignages %}
								<div class="carousel-item tmg-item {% if slide == 0 %}active{% endif %}">
									<a href="{{ temoignage.lien_source }}">
										<div class="item-wrapper">
											<div class="item-temoignages">
												<h5>{{ temoignage.quote }}</h5>
												<span>{{ temoignage.source }}</span>
											</div>
										</div>
									</a>
								</div>
							{% set slide = slide + 1 %}
							{% endfor %}
						</div>
						<a class="carousel-control-prev temoignagnes-control-prev" href="#sliderTemoignages" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon temoignagnes-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next temoignagnes-control-next" href="#sliderTemoignages" role="button" data-slide="next">
							<span class="carousel-control-next-icon temoignagnes-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<svg class="shape top-orange-crop" viewBox="0 0 1440 396"xmlns="http://www.w3.org/2000/svg">
						<g fill="none" fill-rule="evenodd">
							<path fill="#FBFBFB" d="M.5 395V0h1440v395z"/>
							<path d="M832.494 91.444c202.385-142.95 364.264-135.37 608.003 176.109-.102 4.808-.14 57.743-.153 129.025H-.197c-.03-41.59-.085-73.065-.187-89.043C82 202.32 198.594 187.854 326.6 247.946c284.92 133.755 294.673-7.312 505.893-156.502z" fill="#F9F5F5"/>
							<path d="M825.605 184.092c192.008-135.687 369.293-98.752 509.063 74.172 46.002 56.914 102.342 133.995 105.676 138.314H0C68.752 253.91 209.614 253.2 365.773 326.499c258.925 121.535 267.824-6.72 459.832-142.407z" fill="#F7F1F1"/>
						</g>
					</svg>
					<svg class="shape bottom-orange-crop" viewBox="0 0 1440 293" xmlns="http://www.w3.org/2000/svg">
						<g fill="none" fill-rule="evenodd">
							<path fill="#FBFBFB" d="M.5 293V15h1440v278z"/>
							<path d="M1440.311.105c-.021 46.548-.061 80.147-.136 88.967-226.464 68.598-716.246 97.582-907.986 182.939C383.357 338.266 144.303 207.179.06 83.814-.048 72.075-.103 41.283-.132.26 39.57 0 1404 0 1440.31.105z" fill="#F9F5F5"/>
							<path d="M1440 1.132c-1.968 6.023-19.682 13.973-29.573 18.571-217.289 97.674-437.089 62.086-789.98 170.63C336.16 277.775 96.221 106.57.048 11.436.024 9.005.002 5.306-.019.522 30.547.522 1396.14 0 1440 1.132z" fill="#F7F1F1"/>
						</g>
					</svg>
				</section>
			{% elseif section.acf_fc_layout == 'section_labels' %}
				<section class="section-pdg labels">
					<div class="container">
						<div class="row d-flex justify-content-center">
							{% for label in section.labels %}
								<a href="{{ label.link }}" target="_blank"><img class="img-fluid" src="{{ Image(label.image).src }}" class="d-block img-fluid" alt="{{ Image(label.image).alt }}"/></a>
							{% endfor %}
						</div>
					</div>
				</section>
			{% elseif section.acf_fc_layout == 'kiddo_life' %}
				<section class="section-pdg kiddo-life">
					<div class="container">
						<h2 class="section-title">{{ section.titre_fin }} <strong>{{ section.titre_gras }}</strong></h2>
						{{ instagram_widget }}
						<div class="col text-center">
							<a class="button-default" href="{{ section.lien_bouton }}" role="button">{{ section.texte_bouton }}</a>
						</div>
					</div>
				</section>
			{% elseif section.acf_fc_layout == 'latest_news' %}	
				<section class="news">
					<h2 class="section-title">{{ section.titre_fin }} <strong>{{ section.titre_gras }}</strong></h2>
					<svg class="shape top-purple-crop" viewBox="0 0 1440 188" xmlns="http://www.w3.org/2000/svg">
						<g fill="none" fill-rule="evenodd">
							<path fill="#FBFBFB" d="M0 0h1440v187H0z"/>
							<path d="M1440 187.532H0V32.26C91.613-6.576 165.507-9.226 221.68 24.31c59.56 35.559 146.832 103.25 234.26 103.25 87.427 0 201.864-112.398 418-112.398 231.996 0 420.682 57.457 566.06 172.37z" fill="#F2EFF4"/>
						</g>
					</svg>
					<div class="container">
						<div class="row news__content justify-content-center">
							{% if latest_post %}
								{% for post in latest_post %}
									<div class="col-lg-4 col-md-6 news-col">
										<div class="card card-kiddo" style="width: 18rem;">
											{% if post.thumbnail.src %}
												<img src="{{ post.thumbnail.src }}" class="card-img-top" alt="{{ post.title }}">
											{% else %}
												<img src="{{theme.link}}/img/img-default.jpg" class="card-img-top" alt="...">
											{% endif %}
											<div class="card-body">
												<h5 class="card-title">{{ post.title }}</h5>
												<p class="card-text">{{ post.preview | truncate(12)}}</p>
												<a href="{{ post.link }}" class="button-card">Lire sur le blog</a>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
							{% if facebook_widget %}
								<div class="col-lg-4 col-md-6 news-col">
									<div class="card card-kiddo" style="width: 18rem;">
										{{ facebook_widget }}
									</div>
								</div>
							{% endif %}
							{% if twitter_widget %}
								<div class="col-lg-4 col-md-6 news-col">
									<div class="card card-kiddo" style="width: 18rem;">
										{{ twitter_widget }}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</section>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}