{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
                <div class="container">
                    <h1 class="article-h1">Nos <strong>actualités</strong></h1>
                    {% if featured %}
                        {% if featured.thumbnail.src %}
                        <div class="blog-header" style="background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%),url('{{ featured.thumbnail.src }}')center center / cover no-repeat">
                        {% else %}
                        <div class="blog-header" style="background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%),url('{{theme.link}}/img/img-default.jpg')center center / cover no-repeat">
                        {% endif %}
                            <div class="blog-header__content text-center">
                                <h3 class="latest-post__title">{{ featured.title }}</h3>
                                <a href="{{ featured.link }}" class="button-default">Lire l'article</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="article-body posts-body">
                        <div class="col-lg-10 mx-auto">
                            <div class="row posts">
                                {% for post in posts %}
                                    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                                {% endfor %}
                            </div>
                        </div>
                        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
                    </div>
                </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}