<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <title id="ml-title">{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.theme.link }}/css/nprogress.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="{{ site.url }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kiddo presente kiddo'z, la boite doseuse intelligente.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ theme.link }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ theme.link }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ theme.link }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ theme.link }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ theme.link }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ theme.link }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ theme.link }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ theme.link }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ theme.link }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ theme.link }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/favicon-16x16.png">
    <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico">

    {{function('wp_head')}}
