{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">Une <strong>question ?</strong></h1>
                <p class="article-body__subtitle">N’hésitez pas à nous solliciter via ce formulaire, nous vous répondrons au plus vite.</p>
				<div class="article-body custom-page-body">
					<section class="contact">
                        <div class="container">
                            <div class="col-lg-10 mx-auto contact__body section-pdg">
                                <div class="row">
                                    <div class="w-100 contact-form">
                                        <form class="contact-form__form">
                                            {% filter shortcodes %}
                                                [contact-form-7 id="80" title="Kiddo contact"]
                                            {% endfilter %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}