{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
                {% if post.titre_kiddo_light and post.titre_kiddo_gras %}
                    <h1 class="article-h1">
                    {{ post.titre_kiddo_light }} <strong>{{ post.titre_kiddo_gras }}</strong>
                    </h1>
                    {% else %}
                    <h1 class="article-h1">Notre <strong>histoire</strong>
                    </h1>
                {% endif %}
				<div class="article-body custom-page-body">
					<div class="container">
                        {% for histoire_item in post.meta('histoire') %}
                            {% if histoire_item.acf_fc_layout == 'bloc_headline' %}
                                <div class="row row-body justify-content-between align-items-center">
                                    <div class="col-lg-6 col-sm-6">
                                        <img class="img-fluid story-img" src="{{ Image(histoire_item.headline_image).src }}" />
                                    </div>
                                    <div class="col-lg-5 col-sm-5">
                                        <div class="article-body__headline">
                                            {{ histoire_item.headline_text }}
                                        </div>
                                    </div>
                                </div>
                            {% elseif histoire_item.acf_fc_layout == 'bloc_intro' %}
                                <div class="row row-body">
                                    <div class="col-lg-9 mx-auto text-center">
                                        <div class="article-body__intro">
                                            {{ histoire_item.intro_text }}
                                        </div>
                                    </div>
                                </div>
                            {% elseif histoire_item.acf_fc_layout == 'bloc_img_droite' %}
                                <div class="row row-body justify-content-between align-items-center">
                                    <div class="col-lg-6 col-sm-6 order-sm-12">
                                        <img class="img-fluid story-img" src="{{ Image(histoire_item.right_img).src }}" />
                                    </div>
                                    <div class="col-lg-5 col-sm-5 order-sm-1">
                                        <div class="article-body__text">
                                            {{ histoire_item.text_left }}
                                        </div>
                                    </div>
                                </div>
                            {% elseif histoire_item.acf_fc_layout == 'bloc_img_gauche' %}
                                <div class="row row-body justify-content-between align-items-center">
                                    <div class="col-lg-6 col-sm-6">
                                        <img class="img-fluid story-img" src="{{ Image(histoire_item.left_img).src }}" />
                                    </div>
                                    <div class="col-lg-5 col-sm-5">
                                        <div class="article-body__text">
                                            {{ histoire_item.text_right }}
                                        </div>
                                    </div>
                                </div>
                            {% elseif histoire_item.acf_fc_layout == 'bloc_intro_subtitle' %}
                                <div class="row row-body">
                                    <div class="col-lg-9 mx-auto text-center">
                                        <div class="article-body__intro">
                                            {{ histoire_item.intro_subtitle_text }}
                                            <div class="article-body__subtitle">
                                                {{ histoire_item.intro_subtitle }} 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elseif histoire_item.acf_fc_layout == 'bloc_text_and_text_big' %}
                                <div class="row row-body justify-content-between align-items-center">
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="article-body__text">
                                            {{ histoire_item.normal_text }}
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5">
                                        <div class="article-body__text--big">
                                            {{ histoire_item.big_text }} 
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
				</div>
			</section>
            {% if post.bottom_image %}
                        <div class="w-100 img-bottom">
                            <img src="{{ Image(post.meta('bottom_image')).src }}" class="d-block img-fluid w-100" alt="{{ Image(post.meta('bottom_image')).alt }}"/>
                        </div>
                    {% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}