{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <section class="article-content section-pdg">
            {% if titre_kiddo %}
				<h1 class="article-h1">{{ titre_kiddo.titre_kiddo_light }} <strong>{{ titre_kiddo.titre_kiddo_gras }}</strong></h1>
                {% else %}
                <h1 class="article-h1">{{ post.title }}</h1>
            {% endif %}
				<div class="article-body">
					<div class="container">
                        {% filter shortcodes %}
                            [woocommerce_cart]
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}