{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
                {% if post.titre_kiddo_light and post.titre_kiddo_gras %}
                    <h1 class="article-h1">
                    {{ post.titre_kiddo_light }} <strong>{{ post.titre_kiddo_gras }}</strong>
                    </h1>
                    {% else %}
                    <h1 class="article-h1">Qui <strong>sommes-nous ?</strong></h1>
                    </h1>
                {% endif %}
				<div class="article-body custom-page-body">
                    {% if about %}
                        {% for section in about %}
                            {% if section.acf_fc_layout == 'titre_header' %}
                                <section class="about">
                                    <div class="container">
                                        <h2 class="article-h2 text-center">{{ section.texte }}</h2>
                                    </div>
                                </section>
                                <div class="img-divider section-pdg img-divider d-flex justify-content-center">
                                    <svg width="39" height="111" viewBox="0 0 39 111" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M18.516 103.108s-7.83-26.626 1.464-46.22a42.14 42.14 0 0 0 3.409-26.392 70.555 70.555 0 0 0-3.726-12.378" stroke="#535461" stroke-width="1.114"/>
                                            <path d="M25.427 5.728c0 3.265-5.892 12.73-5.892 12.73s-5.897-9.487-5.897-12.73A5.903 5.903 0 0 1 19.532 0a5.903 5.903 0 0 1 5.895 5.728zM35.172 23.805c-1.765 2.74-11.85 7.472-11.85 7.472s.183-11.161 1.954-13.896a5.89 5.89 0 0 1 8.066-1.612 5.918 5.918 0 0 1 1.83 8.036zM34.749 54.694c-2.907 1.468-13.994.453-13.994.453s5.78-9.538 8.687-11.006a5.886 5.886 0 0 1 5.96.259 5.914 5.914 0 0 1 2.685 5.34 5.91 5.91 0 0 1-3.338 4.954zM29.174 77.994c-2.617 1.942-13.715 2.79-13.715 2.79s4.087-10.374 6.682-12.316a5.887 5.887 0 0 1 5.999-.888 5.915 5.915 0 0 1 1.012 10.375l.022.04zM10.948 31.908c2.333 2.271 13.215 4.632 13.215 4.632s-2.668-10.832-5.012-13.11a5.889 5.889 0 0 0-5.777-1.565 5.904 5.904 0 0 0-4.169 4.302 5.918 5.918 0 0 0 1.732 5.741h.011zM4.772 59.237c2.907 1.468 13.995.452 13.995.452s-5.78-9.532-8.688-11.005a5.891 5.891 0 0 0-7.813 2.67 5.916 5.916 0 0 0 2.506 7.883zM2.411 86.628c2.618 1.936 13.71 2.79 13.71 2.79S12.04 79.044 9.44 77.101a5.889 5.889 0 0 0-8.012 1.4 5.919 5.919 0 0 0 1.001 8.088l-.017.039z" fill="#F2A7A5" fill-rule="nonzero"/>
                                            <path d="M0 101.434s9.534-1.898 12.073-4.426c2.54-2.528 13.977-6.954 15.247-3.795 1.27 3.159 17.152 13.908 6.348 15.805-10.803 1.898-25.41 2.528-28.584 1.261C1.91 109.013 0 101.434 0 101.434z" fill="#A8A8A8" fill-rule="nonzero"/>
                                            <path d="M33.685 107.835c-10.798 1.897-25.41 2.528-28.584 1.267-2.417-.966-4.099-5.581-4.761-7.74l-.34.072s1.91 7.584 5.084 8.845c3.174 1.262 17.787.631 28.584-1.26 3.119-.559 4.01-1.837 3.676-3.461-.25 1.055-1.337 1.87-3.659 2.277z" fill="#000" fill-rule="nonzero" opacity=".2"/>
                                        </g>
                                    </svg>
                                </div>
                            {% elseif section.acf_fc_layout == 'valeurs' %}
                                 <section class="valeurs section-pdg">
                                    <div class="container">
                                        <div class="subtitle">
                                            {% set title = section.titre_section %}
                                            {% if title %}
                                                <h2 class="article-h2 text-center">{{ title.titre_fin }} <strong>{{ title.titre_gras }}</strong></h2>
                                            {% endif %}
                                            <p class="article-body__subtitle">{{ section.sous_titre }}</p>
                                        </div>
                                        <div class="section-content kiddoz">
                                            <div class="boxes box__text">
                                                <div class="box__text--content">
                                                    {{ section.texte }}
                                                </div>
                                            </div>
                                            <div class="boxes box__img">
                                                <div class="box__img--content">
                                                    <img class="d-block img-fluid" src="{{ Image(section.img).src }}" alt/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% elseif section.acf_fc_layout == 'qualite' %}
                                <section class="section-pdg gradient-bg qualite">
                                    <div class="container">
                                        <div class="subtitle">
                                            {% set title = section.titre_section %}
                                            {% if title %}
                                                <h2 class="article-h2 text-center">{{ title.titre_fin }} <strong>{{ title.titre_gras }}</strong></h2>
                                            {% endif %}
                                            <p class="article-body__subtitle">{{ section.sous_titre }}</p>
                                        </div>
                                        <div class="section-content">
                                            <div class="boxes box__img order-sm-12">
                                                <div class="box__img--content">
                                                    <img class="d-block img-fluid" src="{{ Image(section.img).src }}" alt/>
                                                </div>
                                            </div>
                                            <div class="boxes box__text order-sm-1">
                                                <div class="box__text--content">
                                                    {{ section.texte }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% elseif section.acf_fc_layout == 'environnement' %}
                                <section class="section-pdg env">
                                    <div class="container">
                                        <div class="subtitle">
                                            {% set title = section.titre_section %}
                                            {% if title %}
                                                <h2 class="article-h2 text-center">{{ title.titre_fin }} <strong>{{ title.titre_gras }}</strong></h2>
                                            {% endif %}
                                            <p class="article-body__subtitle">{{ section.sous_titre }}</p>
                                        </div>
                                        <div class="section-content">
                                            <div class="boxes box__text order-sm-12">
                                                <div class="box__text--content">
                                                    {{ section.texte }}
                                                </div>
                                            </div>
                                            <div class="boxes box__img order-sm-1">
                                                <div class="box__img--content">
                                                    <img class="d-block img-fluid" src="{{ Image(section.img).src }}" alt/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% elseif section.acf_fc_layout == 'team_kiddo' %}
                                <section class="team c-white d-primary">
                                    {% set title = section.titre_section %}
                                    {% if title %}
                                        <h2 class="article-h2 text-center">{{ title.titre_fin }} <strong>{{ title.titre_gras }}</strong></h2>
                                    {% endif %}
                                    <p class="article-body__subtitle">{{ section.sous_titre }}</p>
                                    {% if section.member %}
                                    <div class="container">
                                        <div class="row section-content">
                                            <div class="team-members">
                                                <div class="row section-content">
                                                    {% for member in section.member %}
                                                        <div class="col-lg-4 col-sm-6 team-member">
                                                            <div class="team-member__head">
                                                                <img class="d-block img-fluid" src="{{ Image(member.image).src }}" alt="{{ Image(member.image).alt }}"/>
                                                                <h5 class="team-member__name">{{ member.nom }}</h5>
                                                                <p class="team-member__job">{{ member.fonction}}</p>
                                                            </div>
                                                            <div class="team-member__desc">
                                                                {{ member.description }}
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </section>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}