{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
                {% if vente %}
                    <h1 class="article-h1">{{ vente.titre_fin }} <strong>{{ vente.titre_gras }}</strong></h1>
                    <p class="article-body__subtitle article-body__subtitle--topfix">{{ vente.sous_titre }}</p>
                {% endif %}
				<div class="article-body custom-page-body">
                    {% if partners %}
					    <section class="maps acf-map">
                            {% for partner in partners %}
                            {% set location = partner.get_field('google_maps') %}
                            <div class="marker" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}">
                                <h4>{{ partner.title }}</h4>
                                <p class="address">{{ location.address }}</p>
                            </div>
                            {% endfor %}
                        </section>
                    {% endif %}
                    <section class="partners section-pdg">
                        {% if partenaires %}
                            <h2 class="article-h2">{{ partenaires.titre_fin }} <strong>{{ partenaires.titre_gras }}</strong></h2>
                            <p class="article-body__subtitle article-body__subtitle--topfix">{{ partenaires.sous_titre }}</p>
                        {% endif %}
                        <div class="container">
                            <div class="row partners-wrapper">
                            {% for partners_item in post.meta('partenaires') %}
                                <div class="col-lg-4 partners-bloc">
                                    <h3>{{ partners_item.titre_bloc }}</h3>
                                    <ul class="partners-bloc__list">
                                        {% for partner in partners_item.partenaire %}
                                            <li>
                                                <a href="{{ partner.lien_produit_partenaire }}">
                                                    <img class="img-fluid" src="{{ Image(partner.logo_partenaire).src }}" alt="">
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </section>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}