{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section>
            {% if titre_kiddo %}
				<h1 class="article-h1">{{ titre_kiddo.titre_kiddo_light }} <strong>{{ titre_kiddo.titre_kiddo_gras }}</strong></h1>
                {% else %}
                <h1 class="article-h1">{{ post.title }}</h1>
            {% endif %}
				<div class="article-body custom-page-body">
                    {% if la_kiddoz %}
                        {% for kiddoz in la_kiddoz %}
                            {% if kiddoz.acf_fc_layout == 'kiddoz_decomposee' %}
                                <section class="kiddoz-story">
                                    <div class="container">
                                        <div class="col-lg-9 mx-auto kiddoz-story__content">
                                        <h3 class="subtitle text-center">{{ kiddoz.description }}</h3>
                                            <div class="row justify-content-between">
                                                <div class="col-lg-6 col-sm-6 kiddoz-img">
                                                    <img src="{{ Image(kiddoz.image).src }}" class="d-block img-fluid" alt=""/>
                                                </div>
                                                <div class="col-lg-5 col-sm-5 kiddoz-desc">
                                                    <div class="kiddoz-desc__content">
                                                        {% if kiddoz.couvercle %}
                                                            <div>{{ kiddoz.couvercle }}</div>
                                                        {% endif %}
                                                        {% if kiddoz.compartiment_haut %}
                                                            <div>{{ kiddoz.compartiment_haut }}</div>
                                                        {% endif %}
                                                        {% if kiddoz.compartiment_bas %}
                                                            <div>{{ kiddoz.compartiment_bas }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if kiddoz.brevet %}
                                                <div class="row kiddoz-story__brevet justify-content-sm-end">   
                                                    <div class="label-box">
                                                        <svg class="icon-brevet" width="82" height="82" viewBox="0 0 82 82" xmlns="http://www.w3.org/2000/svg">
                                                            <g fill-rule="nonzero" fill="none">
                                                                <path d="M80.431 47.758C77.221 66.631 60.788 81 41 81c-12.371 0-23.43-5.616-30.768-14.438M1.116 37.928C2.685 17.272 19.942 1 41 1c13.691 0 25.776 6.879 32.987 17.369" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M71.691 50.089C67.774 63.335 55.516 73 41 73a31.89 31.89 0 0 1-21.987-8.75M9.438 35.69C11.968 20.544 25.136 9 41 9c9.94 0 18.821 4.532 24.69 11.642" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M18.65 42.527c.529-.142.996-.178 1.413-.125a2.62 2.62 0 0 1 1.068.37c.303.187.545.42.742.71.183.294.328.613.414.933.097.361.116.714.077 1.067-.04.354-.191.678-.424.979a2.6 2.6 0 0 1 1.399.713c.352.368.604.807.738 1.308.104.39.15.78.117 1.161a2.888 2.888 0 0 1-.303 1.095c-.175.345-.422.65-.756.904-.331.267-.754.47-1.255.604l-3.505.94-2.646-9.876 2.921-.783zm.27 5.905l.727 2.713 1.739-.466c.403-.108.704-.323.89-.626.174-.3.206-.681.09-1.113-.108-.403-.319-.69-.622-.876-.314-.17-.681-.205-1.085-.097l-1.738.465zm-1.07-3.992l.65 2.42 1.14-.305c.431-.115.721-.312.884-.595.167-.268.2-.59.1-.965-.101-.376-.291-.638-.573-.801-.279-.15-.628-.175-1.046-.063l-1.154.31zm8.714-4.034c.529-.141 1.01-.181 1.427-.129.42.067.782.193 1.09.394.307.201.57.459.784.759.2.304.346.623.44.97.074.279.106.568.108.851-.01.3-.067.585-.157.862-.09.278-.239.556-.427.8-.198.262-.453.48-.774.67l4.106 3.64-1.99.533-3.832-3.564-.486.13L28 50.606l-1.697.455-2.647-9.876 2.907-.779zm-.785 1.91l.649 2.42 1.21-.324c.417-.112.707-.309.87-.59.153-.265.186-.587.085-.963-.1-.375-.29-.638-.558-.804-.279-.15-.628-.175-1.046-.063l-1.21.324zm7.765-2.066l.645 2.407 2.935-.787.429 1.6-2.935.786.715 2.67 3.784-1.013.428 1.6-5.48 1.468-2.646-9.876 5.48-1.468.429 1.6-3.784 1.013zm11.37 5.824l-1.669.447-5.678-9.063 1.78-.477 4.02 6.66.139-7.774 1.808-.485-.4 10.692zm3.555-9.823l.645 2.407 2.935-.787.428 1.6-2.935.786.716 2.67 3.783-1.013.429 1.6-5.48 1.468-2.646-9.876 5.48-1.468.428 1.6-3.783 1.013zm11.072-2.966l-2.379.637 2.218 8.276-1.697.455-2.218-8.276-2.378.637-.429-1.6 6.454-1.729.429 1.6zm2.893-.776l.645 2.407 2.935-.787.428 1.6-2.935.786.716 2.67 3.783-1.013.429 1.6-5.48 1.468-2.646-9.875 5.48-1.469.428 1.6-3.783 1.013zm1.063-3.042l-1.641.44.69-1.93 1.892-.507-.94 1.997z" fill="#FFF"/>
                                                            </g>
                                                        </svg>
                                                        <p>{{ kiddoz.brevet }}</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <svg class="shape shape-top" viewBox="0 0 1440 257" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#FBFBFB" d="M0 0h1441v256H0z"/>
                                            <path d="M0 256V105.611C38.054 77.68 78.75 54.318 122.786 36.654 271.433-22.97 447.518-9.144 585.083 72.961c41.924 24.978 80.782 56.128 126.5 73.488 39.75 15.111 84.418 17.538 122.012-3.711 31.055-17.574 51.562-26.958 88.71-29.991a769.374 769.374 0 0 1 229.662 16.45 441.12 441.12 0 0 1 9.104 2.087C1261.188 154.818 1355.79 193.04 1440 252v4c-129.854.337-1436.59 0-1440 0z" fill="#F2A7A5" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                    <svg class="shape shape-bottom" viewBox="0 0 1440 218" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#FBFBFB" d="M0 1h1440v217H0z"/>
                                            <path d="M1440 .603v109.325c-118.246 61.068-249.535 96.298-382.428 105.329a872.31 872.31 0 0 1-49.567 2.159c-1.906 0-3.813.107-5.737.107h-1.55a883.54 883.54 0 0 1-23.821 0 1020.968 1020.968 0 0 1-141.325-11.365l-6.86-1.053-8.783-1.427a1000.925 1000.925 0 0 1-90.314-19.411 1041.18 1041.18 0 0 1-29.024-8.136c-3.564-1.017-6.967-2.087-10.441-3.158a932.403 932.403 0 0 1-66.208-23.193c-1.586-.625-3.19-1.249-4.757-1.891a925.828 925.828 0 0 1-117.396-56.343l-3.724-2.14-2.227-1.285-3.795-2.212c-2.655-1.535-5.345-3.105-7.947-4.71a375.23 375.23 0 0 1-11.598-7.137l-3.403-2.123a834.573 834.573 0 0 0-16.713-10.437c-2.405-1.48-4.828-2.926-7.251-4.371h-.196a205.898 205.898 0 0 0-36.97-17.841 149.294 149.294 0 0 0-14.432-4.193c-1.533-.339-3.1-.696-4.633-.999l-3.902-.696a26.632 26.632 0 0 0-2.387-.392h-.446C336.518 25.998 288.27 39.36 245.277 58.2c-35.42 15.522-69.486 34.79-104.817 50.08a364.924 364.924 0 0 1-48.48 17.396C61.846 133.765 30.974 136.52 0 133.84V.603h1440z" fill="#F2A7A5" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </section>
                            {% elseif kiddoz.acf_fc_layout == '3_positions' %}
                                <section class="kiddoz-use">
                                    <div class="container">
                                        <div class="col-lg-10 mx-auto">
                                            <h2 class="article-h2 article-h2__left">{{ kiddoz.titre_fin }} <br/><strong>{{ kiddoz.titre_gras }}</strong></h2>
                                            {% if kiddoz.positions %}
                                                <div class="row section-content">
                                                {% for position in kiddoz.positions %}
                                                    <div class="col-lg-4 col-sm-4 kiddoz-use__desc text-center">
                                                        <img class="img-kiddoz-use" src="{{ Image(position.image).src }}" class="d-block img-fluid" alt="{{ Image(position.image).alt }}"/>
                                                        <div class="img-kiddoz-use__caption">
                                                            <h5>{{ position.titre }}</h5>
                                                            <p>{{ position.texte}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                <section>
                            {% elseif kiddoz.acf_fc_layout == 'preparation' %}
                                <section class="kiddoz-use">
                                    <div class="container">
                                        <div class="col-lg-10 mx-auto">
                                            <h2 class="article-h2">{{ kiddoz.titre_fin }}<br/><strong>{{ kiddoz.titre_gras}}</strong></h2>
                                            <div class="row">
                                                {% if kiddoz.texte_stockage %}
                                                    <div class="col-lg-4 col-sm-4 kiddoz-use__desc text-center">
                                                        <div class="img-kiddoz-use__caption">
                                                            <h5 class="mt-3">{{ kiddoz.texte_stockage }}</h5>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if kiddoz.texte_eau %}
                                                    <div class="col-lg-4 col-sm-4 kiddoz-use__desc text-center">
                                                        <div class="img-kiddoz-use__caption">
                                                            <h5 class="mt-3">{{ kiddoz.texte_eau }}</h5>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if kiddoz.texte_geste %}
                                                    <div class="col-lg-4 col-sm-4 kiddoz-use__desc text-center">
                                                        <div class="img-kiddoz-use__caption">
                                                            <h5 class="mt-3">{{ kiddoz.texte_geste }}</h5>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% if kiddoz.images %}
                                                <div class="row section-content">
                                                    {% for preparation in kiddoz.images %}
                                                        <div class="col-lg-4 col-sm-4 text-center">
                                                            <img class="img-kiddoz-use" src="{{ Image(preparation.image).src }}" class="d-block img-fluid" alt="{{ Image(preparation.image).alt }}"/>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}