{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="container">
				<h1 class="article-h1 single-post__h1">{{ post.title }}</h1>
				<div class="details">
					<div class="details__author">
						<span class="single-post__avatar">{{ avatar }}</span>
						<span class="single-post__author author vcard" title="{{ post.author.name }}">{{ post.author.name }},</span>
						<span class="single-post__date">le {{ post.date }}</span>
					</div>
					<span class="single-post__categorie">{{ post.terms('category') | join(', ') }}</span>
				</div>
				<header class="entry-header single-post__header">
				{% if post.thumbnail.src %}
					<img src="{{ post.thumbnail.src|resize(1200, 500) }}" class="img-fluid d-block single-post__thumbnail">
					{% else %}
					<img src="{{ theme.link }}/img/img-default.jpg" class="img-fluid w-100 d-block single-post__thumbnail">
				{% endif %}
				</header>
				<section class="article-content section-pdg">
					<div class="article-body single-post__body">
						<div class="col-lg-10 mx-auto">
							{{post.content}}
						</div>
					</div>
				</section>
			</div>
			<section class="gradient-bg section-pdg related-section">
                <div class="container">
                    <div class="subtitle">
						<h2 class="article-h2 text-center">Articles <strong>similaires</strong></h2>
						<p class="article-body__subtitle">Voici quelques articles qui devraient vous intéresser.</p>
                    </div>
					{% if related_posts %}
						<div class="col-lg-10 mx-auto related">
							<div class="row related-stories">
								{% for child_post in related_posts %}
									<div class="col-lg-4 col-md-6 related-card">
										<a href="{{ child_post.link }}" class="related-story">
											<div class="card card-kiddo card-post h-100" style="width: 18rem;">
												{% if child_post.thumbnail.src %}
													<img src="{{ child_post.thumbnail.src|resize(330, 180) }}" class="card-img-top" alt="{{ child_post.title }}"/>
													{% else %}
													<img src="{{ theme.link }}/img/img-default.jpg" class="card-img-top" alt/>
												{% endif %}
												<div class="card-body">
													<h5 class="card-title"><a href="{{ child_post.link }}">{{ child_post.title }}</a></h5>
													<p class="card-text">{{ child_post.content | truncate(12)}}</p>
												</div>
												<div class="card-footer bg-transparent">
													<a href="{{ child_post.link }}" class="card-post__permalink light">Lire plus</a>
												</div>
											</div>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
                </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
