{% extends "tease.twig" %}

{% block content %}
	<div class="card card-kiddo card-post h-100" style="width: 18rem;">
		{% if post.thumbnail.src %}
			<img src="{{ post.thumbnail.src|resize(330, 180) }}" class="card-img-top" alt="{{ post.title }}"/>
			{% else %}
			<img src="{{ theme.link }}/img/img-default.jpg" class="card-img-top" alt="{{ post.title }}"/>
		{% endif %}
		<div class="card-body">
			<h5 class="card-title"><a href="{{ post.link }}">{{ post.title | truncate(12) }}</a></h5>
			<div class="card-text">{{ post.content | truncate(10) }}</div>
		</div>
		<div class="card-footer card-post__footer bg-transparent">
			<a href="{{ post.link }}" class="card-post__permalink">Lire plus</a>
		</div>
	</div>
{% endblock %}