//---------------------------------------------------------------------------------------
// Buttons
//---------------------------------------------------------------------------------------

%gradient-btn {
    padding: rem(16) rem(45);
    background: $primary;
    background-image: linear-gradient(to right, $blue 0%, $pinkier 51%, $pinkier 100%);
    font-family: $fabrikat_med;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 11px 36px 0 rgba(130,136,171,0.30);
    border-radius: 50px;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: $white;
    display: inline-block;
}

.button-default {
    @extend %gradient-btn;
    margin-top: 40px;
    text-align: center;
    @media screen and (max-width: $xs) {
        line-height: 1.4;
        font-size: rem(12);
        padding: rem(16) rem(32);
    }
    &:hover {
        background-position: right center;
        color: $white;
    } 
}

.button-default.disabled {
    background-image: linear-gradient(to right, $disabled 0%, $disabled 51%, $disabled 100%);
}

.button-card {
    @extend %gradient-btn;
    text-align: center;
    font-size: 10px;
    padding: rem(8) rem(30);
    &:hover {
        background-position: right center;
        color: $white;
    } 
}

.play {
    position: absolute;
    left: 46%;
    top: 44%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    //transform: translate(-50%,-50%);
    transition: all 0.5s cubic-bezier(0.5, -0.01, 0, 1.005);
    z-index: 2;
    box-shadow: 0 27px 20px 0 rgba(0,0,0,0.08);

    @media screen and (max-width: $xs) {
        left: 41%;
        top: 39%;
        width: rem(70);
        height: rem(70);
    }
    @media screen and (max-width: $sm) {
        left: 43%;
        top: 40%;
    }

    &:hover {
        transform: scale(1.1)
    }
}

.close {
    font-size: 3rem;
}

.product_type_simple.add_to_cart_button,
.product_type_variable.add_to_cart_button {
    background-image: linear-gradient(to right, $pinkier 0%, $primary 51%, $primary 100%)!important;
    border-radius: 50px!important;
    transition: 0.5s;
    background-size: 200% auto!important;
    color: $white!important;
    font-size: 12px!important;
    padding: rem(16) rem(45)!important;
    text-transform: uppercase!important;
    box-shadow: 0 11px 36px 0 rgba(130,136,171,0.30)!important;
    &:hover {
        background-position: right center!important;
        color: $white!important;
    } 
}

.btn-submit {
    @extend %gradient-btn;
    margin-top: 40px;
    text-align: center;
    @media screen and (max-width: $xs) {
        line-height: 1.4;
        font-size: rem(12);
        padding: rem(16) rem(32);
    }
    &:hover {
        background-position: right center;
        color: $white;
    } 
}