//---------------------------------------------------------------------------------------
// Cards
//---------------------------------------------------------------------------------------

.card-kiddo {
    border: none;
    box-shadow: 0 6px 10px 0 rgba(53,53,53,0.05);
    border-radius: .6rem;

    h5 {
        font-family: $montserrat;
        font-size: rem(14);
        line-height: 1.3;
        color: $title;
    }
}

.card-post {
    min-height: rem(380);
    margin: auto;

    img {
        width: 100%;
        height: 13vh;
        object-fit: cover;
    }

    .card-body p {
        @media screen and (max-width: $xs) {
            padding: 0;
        }
    }

    &__permalink {
        color: $primary;
        font-size: rem(14);
        &:hover {
            color: $title;
        }
    }

    &__permalink.light {
        color: $primary;
        &:hover {
            color: $title;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.card-footer {
    border: none;
}