.slider {
    z-index: 3;
}

.slider-control-prev-icon, .slider-control-next-icon {
    display: none;
} 

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.video-control-next-icon,
.video-control-prev-icon {
    width: 40px;
    height: 40px;
}

.video-control-next-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Home' transform='translate(-1238.000000, -6135.000000)'%3E%3Cg id='Gage-de-qualité' transform='translate(0.000000, 5902.000000)'%3E%3Cg id='Group-26' transform='translate(1237.000000, 232.000000)'%3E%3Cg id='chevron-right' transform='translate(0.600000, 0.800000)'%3E%3Ccircle id='Oval-7' fill='%23F2B1AF' fill-rule='nonzero' opacity='0.925502232' cx='24.4' cy='24.2' r='24'%3E%3C/circle%3E%3Cpolyline id='Shape' stroke='%23FFFFFF' stroke-width='2.4000001' stroke-linecap='round' stroke-linejoin='round' points='22 31.4 29.2 24.2 22 17'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.video-control-prev-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Home' transform='translate(-153.000000, -6137.000000)'%3E%3Cg id='Gage-de-qualité' transform='translate(0.000000, 5902.000000)'%3E%3Cg id='Group-26' transform='translate(152.000000, 234.000000)'%3E%3Cg id='chevron-right' transform='translate(0.200000, 0.800000)'%3E%3Ccircle id='Oval-7' fill='%23F2B1AF' fill-rule='nonzero' opacity='0.925502232' cx='24.8' cy='24.2' r='24'%3E%3C/circle%3E%3Cpolyline id='Shape' stroke='%23FFFFFF' stroke-width='2.4000001' stroke-linecap='round' stroke-linejoin='round' transform='translate(23.600000, 24.200000) rotate(-180.000000) translate(-23.600000, -24.200000) ' points='20 31.4 27.2 24.2 20 17'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.video-indicators li {
    background-color: $primary;
}

.item {
    width: 100%;
    height: rem(700);
    @media screen and (max-width: $sm) {
        height: rem(500);
    }
}

.item-wrapper {
    padding: 60px;
    display: flex;
    justify-content: center;
    position: relative;
}

.item-thumbnail {
    width: rem(890);
    height: rem(510);
    border-radius: 10px;
    box-shadow: 0 51px 40px -30px rgba($title, 0.13);
    position: relative;
    @media screen and (max-width: $xs) {
        height: rem(200);
    }
    @media screen and (max-width: $sm) {
        height: rem(360);
    }
}

.item-temoignages {
    width: 70vh;
    height: 40vh;
    padding: 3rem;
    background: $white;
    box-shadow: 0 7px 25px 0 rgba(53,53,53,0.06);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

    h5 {
        font-family: $fabrikat_lgt;
        font-size: 32px;
        color: #999999;
        line-height: 42px;
    }

    span {
        font-family: $montserrat;
        font-size: 24px;
        color: $primary;
    }
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%); 
    text-align: left;
    width: 50%;
    @media screen and (max-width: $sm) {
        top: 40%;
        transform: translateY(-40%); 
    }

    h5 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 20px;
        @media screen and (max-width: $sm) {
            font-size: rem(40);
            line-height: 1.2;
        }
        strong {
            font-family: $fabrikat-bld;
        }
    }
}

#carouselPosts {
    .carousel-indicators {
        bottom: 20px;
    }

    .carousel-item {
        @media screen and (max-width: $xs) {
            height: rem(250);
        }
    }
}