//---------------------------------------------------------------------------------------
// Forms
//---------------------------------------------------------------------------------------

.form-newsletter {
    .input-group {
        position: relative;
    }

    .input-group-append {
        position: absolute;
        right: 0;
        height: 100%;
        z-index: 10;
    }

    input {
        border-radius: 33px;
        padding: 2rem 2.7rem;
        border: none;
        border-top-right-radius: 33px!important;
        border-bottom-right-radius: 33px!important;
        @media screen and (max-width: $xs) {
            padding: 1.7rem;
        }
        &:focus {
            box-shadow: 0 11px 36px 0 rgba(53,53,53,0.10);
        }
    }

    button {
        background-image: linear-gradient(to right, #83A8D8 0%, #D690BE 51%, #D690BE 100%);
        background-size: 200% auto;
        border-top-left-radius: 33px!important;
        border-bottom-left-radius: 33px!important;
        border-radius: 33px;
        padding-left: 2.7rem;
        padding-right: 2.7rem;
        border: none;
        font-family: $fabrikat_med;
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
        transition: 0.5s;
        @media screen and (max-width: $xs) {
            padding-left: 1.7rem;
            padding-right: 1.7rem;
            font-size: 12px;
        }
        &:hover {
            background-position: right center;
            color: $white;
        } 
    }
}

.contact-form {
    &__form {
        .form-group {
            margin-bottom: 2rem;

            label, small {
                font-size: rem(12);
            }
        }

        textarea {
            resize: none;
        }
    }
}

.form-control-contact {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($title, .3);
    border-radius: 0;
    transition: border .3s linear;
    @include placeholder;
    &:focus {
        border-bottom: 2px solid $primary;
        background-color: transparent;
    }
}