//---------------------------------------------------------------------------------------
// Modal
//---------------------------------------------------------------------------------------

.modal-full {
    min-width: 100%;
    margin: 0;
    .modal-content {
        background-color: $light-orange;
        min-height: 100vh;
        border-radius: 0;
        border: none;
        .modal-header {
            border-bottom: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .modal-body {
            display: flex;
            align-items: center;
            justify-content: center;
            .embed-responsive {
                width: 90vh;
            }
        }
    }
}