//---------------------------------------------------------------------------------------
// Pagination
//---------------------------------------------------------------------------------------

.pagination {
    margin: rem(30);

    .page-blog {
        &__item {
            margin: 0 rem(3);
        }

        &__item.disabled {
            .page-blog__link {
                background-color: $background;
                border: none;
                color: #CCC;
            }
        }

        &__item.active {
            .page-blog__link {
                background-color: $primary;
                border: none;
                border-radius: 100%;
                &:hover {
                    background-color: $darker_primary;
                    border: none;
                }
            }
        }

        &__link {
            border: none;
            background-color: $background;
            color: $primary;
            &:hover {
                color: $white;
                border: none;
                background-color: $darker_primary;
                border-radius: 100%;
            }
        }
    }
}