//---------------------------------------------------------------------------------------
// Widgets
//---------------------------------------------------------------------------------------

/**
 * Instagram
 */

.wdi_feed_thumbnail_1 .wdi_feed_container {
    background-color: transparent!important;
    border-bottom: none!important;
}

.wdi_feed_theme_1 .wdi_feed_wrapper,
.wdi_feed_thumbnail_1 .wdi_load_more, .wdi_feed_thumbnail_1 .wdi_spinner {
    background-color: transparent!important;
}

.wdi_feed_thumbnail_1 .wdi_load_more_wrap, .wdi_feed_thumbnail_1 .wdi_spinner_wrap {
    background-color: transparent!important;
    border: 1px solid $primary!important;
    @media screen and (max-width: $xs) {
        width: rem(70)!important;
        height: rem(70)!important;
    }
}

.wdi_feed_theme_1 .wdi_load_more_text {
    color: $primary!important;
}

.wdi_feed_thumbnail_1 .wdi_photo_wrap_inner {
    border: 5px solid $background!important;
    background-color: $background!important;
}

/**
 * Facebook
 */
#facebook {
    ._1drm._1b90, ._1drm._1ds4 {
        border : none!important;
    }

    ._2lqg {
        background: transparent!important;
        border: none!important;
    }
}