//---------------------------------------------------------------------------------------
// Woocommerce
//---------------------------------------------------------------------------------------

.woocommerce input,
.woocommerce .input-text {
    border: 1px solid transparent;
    transition: .2s;
    &:focus {
        border: 1px solid $primary!important;
    }
}

.select2-dropdown {
    border: 1px solid $purple!important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid $purple!important;
}

/**
 * Notices
 */

.woocommerce-notices-wrapper {
    margin-top: rem(70);

    .woocommerce-message {
        border-top-color: $primary;
        &::before {
            color: $primary;
        }
    }
}

.woocommerce-info {
    border-top-color: $primary!important;
    &::before {
        color: $primary!important;
    }
}

/**
 *  Single Product
 */

.woocommerce-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: center;
        background-color: #f8f9fa;
        margin-top: rem(20);

        li {
            margin: 0 rem(10);
        }
    }
}

.single-product {
    &__content {
        padding: rem(30) 0;

        .single-product-details {
            &__images {
                @media screen and (max-width: $xs) {
                    margin-bottom: rem(20)
                } 
                &--content {
                    padding: rem(20);
                    border: 1px solid $purple;
                } 
            } 
        }

        .summary-content {
            padding: rem(20) rem(40);
            border: 1px solid $purple;
        }

        .product_title {
            text-align: left;
            font-size: 2.5rem;
            padding: rem(20) 0;
            line-height: 1.2;
        }

        .price {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .quantity {
            .qty {
                width: 100%!important;
                margin-bottom: .5rem;
                padding: .3rem;
            }
        }

        form.cart {
            button {
                width: 100%!important;
                margin-bottom: .5rem;
                background-color: $primary!important;
                padding: .9rem;
                transition: .2s;
                &:hover {
                    background-color: $pink!important;
                }
            }
        }

        .product_meta {
            margin: .5rem 0;
        }

        .variations {
            tr {
                @media screen and (max-width: $xs) {
                    display: flex;
                    flex-direction: column;
                } 
            }
            .label {
                padding-right: rem(20);
                padding-bottom: rem(20);
            }

            .value {
                padding-bottom: rem(20);
                select {
                    margin-right: rem(20);
                }
            }
        }
    }

    &__macarons {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $smooth-orange;
        padding: rem(20);
        .macarons-wrapper {
            display: flex;
            flex-wrap: wrap;
            .macaron {
                width: rem(80);
                margin: rem(10);
            }
        }
    }
}

.woocommerce-tabs {
    margin-bottom: rem(50);

    .tabs {
        margin-bottom: rem(30);
    }

    h2 {
        display: none;
    }

    .woocommerce-Tabs-panel--description {
        p {
            width: 80%;
            margin: auto;
        }
    }
}

.related.products {
    padding: rem(30);
    margin-top: rem(30);
    text-align: center;
    background: #ffffff;
    border-radius: 8px; 
    h2 {
        font-size: 1.5em;
    }

    .products {
        display: flex;
        justify-content: center;
        @media screen and (max-width: $xs) {
            flex-direction: column;
        }

        .product {
            @media screen and (max-width: $xs) {
                width: 100%!important;
            }
        }
    }
}

/**
 *  Cart
 */

.woocommerce-cart-form {
    .quantity {
        .qty {
            padding: .3rem;
        }
    }
}

.wc-proceed-to-checkout {
    .checkout-button {
        background-color: $primary!important;
        transition: .2s;
        &:hover {
            background-color: $pink!important;
        }
    }
}

.woocommerce table.shop_table {
    border: 1px solid $purple!important; 
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
    border-top: 1px solid $purple!important; 
}

.woocommerce a.remove:hover {
    background: $primary!important;
}

/**
 *  Checkout
 */

.woocommerce form {
    .form-row {
        width: 100%;

        .select2-container--default .select2-selection--single {
            border: 1px solid $purple;
        }

        input,
        .input-text {
            border: 1px solid $purple;
            padding: .5rem;
        }

        label {
            display: block;
            width: 100%;
        }

        .woocommerce-input-wrapper {
            width: 100%;
        }
    }
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
    padding: 20px;
    border: 1px solid $purple;
    margin-bottom: rem(20)
}

.woocommerce-checkout {

    h3 {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 20px; 
    }
}

#customer_details {
    .col-1, .col-2 {
        max-width: 100%;
    }
}

#order_review_heading {
    text-align: center;
    padding: rem(20);
}

.woocommerce-checkout-payment {
    background: $background!important;
    border: 1px solid $purple;
}

.payment_box.payment_method_stripe {
    background-color: rgba($purple, .5)!important;
    &:before {
        border: none!important;
    }
}

.woocommerce-checkout #payment ul.payment_methods .stripe-card-group,
.wc-stripe-elements-field {
    width: 100%;
}

.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid $purple!important;
}

.wc-stripe-elements-field {
    border: 1px solid $background!important;
}

/**
 *  My Account
 */

.woocommerce-MyAccount-navigation {
    @media screen and (max-width: $sm) {
        margin-top: rem(30)!important;
    }
}

#customer_login {
    .col-1, .col-2 {
        max-width: 100%;
    }
}

.woocommerce-form-login,
.woocommerce-form-register {
    border: 1px solid $purple!important;
}

.woocommerce-MyAccount-navigation {
    ul {
        padding: rem(30);
        background-color: $white;
        border-radius: rem(10);

        li {
            line-height: 3;
            &:not(:last-child) {
                border-bottom: 1px solid $background;
            }
        }
    } 
}

.woocommerce-MyAccount-content {
    padding: rem(30);

    a {
        font-family: $fabrikat;
        color: $title;
    }

    mark {
        background-color: $primary;
        padding: rem(5) rem(8);
        border-radius: rem(10);
    }
}

.woocommerce-orders-table__cell-order-actions {
    .woocommerce-button:not(:last-child) {
        margin-right: rem(10)
    }
}

.woocommerce-Address {
    border: 1px solid $purple;
    padding: 20px;
    max-width: 100%;

    h3 {
        font-family: $fabrikat;
    }
}

.woocommerce-columns--addresses {
    .woocommerce-column--billing-address,
    .woocommerce-column--shipping-address {
        max-width: 100%;

        h2 {
            font-size: 1.5em;
            text-align: left;
        }

        address {
            padding: rem(20)!important;
            background: $purple;
            min-height: rem(150);
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none!important;
            @media screen and (max-width: $sm) {
                margin-bottom: rem(30)!important;
            }
        }
    }
}

/**s
 *  Thank you
 */

.woocommerce-thankyou-order-received {
    text-align: center;
    margin-bottom: rem(30);
}
.woocommerce ul.order_details {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid $purple;
    padding: rem(20);
    @media screen and (max-width: $xs) {
        flex-direction: column;
    }
    li {
        @media screen and (max-width: $xs) {
            line-height: 2!important;
            border-right: none!important;
        }
    }
}